{% extends 'shop/base.html' %}
{% load static %}

{% block head %}
    <title>О интернет-магазине Opeshek.ru - продажа орехов, сухофруктов, сладостей, специй.</title>
{% endblock %}

{% block body %}
    <div class="main_block">
        <div class="container">
            <div class="headline">
                <h1 class="title">О нас</h1>
            </div>
            <div class="content_post">
                <p>Наш интернет-магазин  Opeshek.ru - место, где удобно и быстро можно выбрать любые виды орехов для того, чтобы ваше меню было более сбалансированным и полезным. В ассортименте представлены очищенный грецкий орех и кедровые орешки, миндаль, экзотические кешью, пекан, фисташка, макадамия и бразильский орех, фундук, ядра косточек абрикосов, а также готовые ореховые смеси в расфасовке и многое другое. </p>
                <p>Присутствие вышеперечисленных продуктов в меню позволяет не только быстро и вкусно насытиться, но и пополнить резервы организма необходимым запасом легкоусваиваемых жиров, минералов, витаминов. В числе присутствующих в большом количестве – калий, магний, железо, способствующие повышению иммунитета, наладке работы кроветворной и сердечно-сосудистой системы, улучшению работы мозга и состояния кожного покрова. </p>

                <div class="content_map">
                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A4412332833405c6332501aace3eb237ffc0b040f7b5d6c7da6369734b17c74c0&amp;width=100%25&amp;height=600&amp;lang=ru_RU&amp;scroll=true"></script>
                </div>
                
                <p>Орехи готовы для немедленного использования в виде перекусов, компонентов салатов, приготовления соусов, кремов, десертов. Благодаря правильному хранение и упаковке наш товар сохраняет все микроэлементы и витамины на протяжение всего срока хранения в независимости от времени года. Мы заботимся о качестве и полезности нашего продукта. Надежно сохраняем все полезные и целебные свойства, которые необходимы для вашего здоровья. Будьте уверены наши продукты обладают несравненным вкусом и содержат биологически активных вещества и витамин. Работаем только с проверенными поставщиками, от которых получаем только свежую и качественную продукцию! Рады предложить Вам большой выбор только самых свежих и качественных орехов и сухофруктов со всего мира! У нас можно купить как фасованные сухофрукты или орешки, так и продукты на развес. </p>
                <p>В настоящий момент у нас есть собственный магазин в г. Санкт-Петербург, где можно приобрести любой из видов продукции в розницу. Розничные цены представлены на нашем сайте, для уточнения оптовых цен — свяжитесь с нашим
                    менеджером. Мы приглашаем к сотрудничеству организации любых масштабов и форм собственности, как производителей, так и потребителей. Предложим для всех сторон максимально взаимовыгодные условия. Продукция представленная в интернет-магазине
                    Opeshek.ru закупается непосредственно у производителей, а их цена формируется без учета оплаты услуг посредников.</p>
                <p style="margin-bottom: 0;"><strong>Основные преимущества:</strong></p>
                <ul>
                    <li>широкий ассортимент на развес, так и фасованные</li>
                    <li>гарантия качества и особое внимание к условию хранения</li>
                    <li>низкие цены от производителей</li>
                    <li>оперативная обработка заявок</li>
                    <li>современные способы оплаты</li>
                    <li>бесплатаная доставка в день заказа</li>
                    <li>постоянные акции, бонусы, скидки покупателям</li>
                    <li>подарочные наборы на любой вкус и кошелек</li>
                    <li>вернем или обменяем в течение 48-часов без оформления лишних бумаг!</li>
                </ul>
                <p>Но главное преимущество интернет-магазина Opeshek.ru — высокое качество поставляемых нами товаров, соблюдение правил их хранения и доставки клиентам. Мы заботимся о каждом своем покупателе и предлагаем им только экологические, вкусные и полезные продукты!</p>

                <p> Реквизиты интернет-магазина:<br/>
                    Индивидуальный предприниматель Попова Анна Андреевна<br/>
                    ИНН: 614212380234<br/>
                    ОГРНИП: 320774600545482<br/>
                    Расчетный счет: 40802810300001776065<br/>
                    Банк: АО "ТИНЬКОФФ БАНК"<br/>
                    ИНН банка: 7710140679<br/>
                    БИК банка: 044525974<br/>
                    Корреспондентский счет банка 30101810145250000974</p>
            </div>
        </div>
    </div>
{% endblock %}
