{% extends 'shop/base.html' %}
{% load static %}

{% block head %}
    <title>Наши контакты - Opeshek.ru</title>
{% endblock %}

{% block body %}
    <div class="main_block">
        <div class="container">
            <div class="headline">
                <h1 class="title">Наши контакты</h1>
            </div>
            <div class="contact_group contact_page">
                <div class="group">
                    <div class="contact_list">
                        <ul class="hold">
                            <li class="item">
                                <div class="icon">
                                    <i class="icon-marker"></i>
                                </div>
                                <div class="text">
                                    <span>Адрес магазина:</span> г. Санкт-Петербург, ул. Тамбасова д.7
                                </div>
                            </li>
                            <li class="item">
                                <div class="icon">
                                    <i class="icon-mail"></i>
                                </div>
                                <div class="text">
                                    <span>E-mail:</span> <strong>opeshek<span>.ru</span>@mail.ru</strong>
                                </div>
                            </li>
                            <li class="item">
                                <div class="icon">
                                    <i class="icon-phone"></i>
                                </div>
                                <div class="text">
                                    <span style="float: left;padding-right: 4px;">Телефон: </span>
                                    <div style="margin-left: 92px;">
                                        8 (999) <strong>113-57-13</strong>
                                    </div>
                                </div>
                            </li>
                            <li class="item">
                                <div class="icon">
                                    <i class="icon-clock"></i>
                                </div>
                                <div class="text">
                                    <span>График работы:</span> <strong>Пн-Вс</strong>, с <strong>10-00</strong> до <strong>21-00</strong>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="group">
                    <div class="contact_form">

                        <h2 class="title">Задать вопрос</h2>
                        <div class="block">
                            <form action="/request/" method="post" class="ajax" id="contact_form">
                                <input type="hidden" name="_token" value="38bv5vxYnW5XlnaE8AnrXO6rm5hwWgtlgeS8hGwT">
                                <div class="row">

                                    <div class="label">
                                        <label for="why">Кому</label>
                                    </div>
                                    <select id="why" class="select_single req select_contacts" name="why">
                                        <option value="">Выберите отдел</option>
                                        <option value="1">Отдел продаж</option>
                                        <option value="2">Отдел доставки</option>
                                        <option value="3">Письмо директору</option>
                                        <option value="2">Отдел кадров</option>
                                    </select>
                                    <p class="hidden">Ошибка, выберите кому отправлять</p>


                                </div>
                                <div class="row">

                                    <div class="label">
                                        <label for="name">Ваше имя</label>
                                    </div>
                                    <input type="text" id="name" class="input req" name="name">
                                    <p class="hidden">Ошибка, заполните поле</p>


                                </div>
                                <div class="row">

                                    <div class="label">
                                        <label for="email">Email</label>
                                    </div>

                                    <input type="email" id="email" class="input req" name="email">
                                    <p class="hidden">Ошибка, заполните поле</p>


                                </div>
                                <div class="row">

                                    <div class="label">
                                        <label for="message">Сообщение</label>
                                    </div>

                                    <textarea class="textarea req" name="message" id="message"></textarea>
                                    <p class="hidden">Ошибка, заполните поле</p>

                                </div>
                                <div class="row">
                                    <div class="captcha">
                                        <div class="g-recaptcha" data-sitekey="6LcI7DgUAAAAAFTE_m6nY2fM3V_RN95rXWckwSDO"></div>
                                    </div>
                                    <div class="wrap_input error_re_captcha">
                                        <p class="hidden">Ошибка, не правильная капча</p>
                                    </div>
                                </div>

                            </form>

                            <div class="row">
                                <input type="submit" class="button send_form" value="Отправить">
                                <a href="#" data-toggle="modal" data-target=".modal-sm4" class="hide result_form"></a>
                                <div class="loader_img hide">
                                    <img src="{% static 'images/loader.gif' %}" />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
