{% extends 'shop/base.html' %}
{% load static %}

{% block head %}
    <title>Крафтовые пакеты для орехов, сухофруктов и специй - интернет-магазин Opeshek.ru</title>
{% endblock %}

{% block body %}
    <div class="main_block">
        <div class="container">
            <div class="headline">
                <h1 class="title">Наша упаковка</h1>
            </div>
            <div class="content_post img_mob">
                <p>Для упаковки нашей продукции мы используем крафтовые пакеты дой-пак с замком зип-лок. Эти пакеты
                    обеспечивают полную герметичность благодаря надежной застежке, позволяют упаковке в наполненном
                    виде стоять вертикально, отличаются
                    высокой прочностью и долговечностью, защищают товар от проникновения посторонних запахов и
                    выглядят просто красиво.</p>

                <p style="text-align: center;"><img src="{% static 'images/packets/kraft-all_packs.jpg' %}"/></p>

                <p>В нашем интернет-магазине представлены 4 вида фасовки: </p>
                <p>- Крафтовый пакет 100 г – в эти пакеты мы фасуем специи </p>
                <p style="text-align: center;"><img src="{% static 'images/packets/kraft-packets-100gr.jpg' %}"/></p>

                <p>- Крафтовые пакеты 300 г, 500 г и 1 кг – в них мы фасуем орехи, сухофрукты, цукаты, сладости и
                    бакалею</p>
                <p style="text-align: center;">
                    <img src="{% static 'images/packets/kraft-packets-300gr.jpg' %}" class="img_mr_40"/>
                    <img src="{% static 'images/packets/kraft-packets-500gr.jpg' %}" class="img_mb_40"/>
                    <img src="{% static 'images/packets/kraft-packets-1kg.jpg' %}"/>
                </p>

                <p>- В нашем ассортименте также представлены подарочные круглые коробки с наборами из орехов,
                    цукатов, сухофруктов и сладостей. Выбрать понравившийся вам набор вы можете в разделе <a
                            href="kupit-nabory">Наборы</a></p>
                <p style="text-align: center;">
                    <img src="{% static 'images/packets/korobki_kryg_1.jpg' %}" class="img_mr_40"/>
                    <img src="{% static 'images/packets/korobki_kryg_2.jpg' %}" class="img_mb_40"/>
                </p>
                <div id="craft" style="    position: relative;    top: -70px;"></div>

                <p>Небольшие заказы, предназначенные для самовывоза, мы упаковываем в крафтовые пакеты с ручками,
                    которые смело выдерживают нагрузку до 10 кг.</p>
                <p>- Вы можете купить "Крафт пакет с ручками" на странице оформления заказа.</p>
                <p style="text-align: center;"><img src="{% static 'images/packets/kraft-packets-big.jpg' %}"/></p>

                <p>Для доставки заказов мы используем удобные брендированные гофрокоробки с ручками и крышкой.</p>
                <p style="text-align: center;"><img src="{% static 'images/packets/kraft-box.jpg' %}"/></p>
            </div>
        </div>
    </div>
{% endblock %}
