{% extends 'shop/base.html' %}
{% load static %}

{% block head %}
    <title>Акции, скидки и спецпредложения - Opeshek.ru</title>
    <meta name="description" content="Все акции, скидки и спецпредложения на орехи, сухофрукты, сладости и специи от компании Opeshek.ru." />
{% endblock %}

{% block body %}
    <div class="main_block">
        <div class="container">
            <div class="headline">
                <h1 class="title">Акции и скидки</h1>
            </div>
            <div class="content_post" style="    clear: both;">

                <h3>Неделя кураги</h3>
                <img src="{% static 'images/actions/nedelya-kuragi.png' %}" class="marta8" />
                <div class="marta8_right">
                    <p>Знали ли вы, что официальной родиной всем известной кураги считается Китай? Полагают, что именно там около 4000 лет назад люди обнаружили, что абрикос, засыхая на солнце, превращается в новый и вкусный продукт. Спешим сообщить,
                        что в нашем интернет-магазине стартовала новая акция - &quot;Неделя кураги&quot;. Только с 14 по 18 декабря вы можете приобрести натуральную курагу по специальной цене: 614 руб/кг (старая цена - 722 руб/кг). Внимание! Акция
                        действует, пока натуральная курага есть в наличии.</p>
                </div>

            </div>
            <div class="content_post" style="clear:both;">
                <h3>Подарок за отзыв</h3>
                <img src="{% static 'images/actions/podarok-za-otzyiv.png' %}" class="marta8" />
                <div class="marta8_right">
                    <p>
                        Для того чтобы получить подарок, поделитесь своими впечатлениями о нашей продукции в своем профиле в Instagram <a> href="https://www.instagram.com/nuts.rus/"</a>.
                        Прикрепите красочную фотографию своего заказа и напишите хэштег #nutsrus.
                        <br /><br /> Не забудьте оставить ссылку на свой фотоотзыв в комментарии к следующему заказу.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
