{% extends 'shop/base.html' %}
{% load static %}

{% block head %}
    <title>Доставка орехов, сухофруктов, специй и фруктов по Санкт-Петербургу (Спб) и Ленобласти</title>
{% endblock %}

{% block body %}
    <div class="main_block">
        <div class="container">
            <div class="headline">
                <h1 class="title">Оплата и доставка</h1>
            </div>
            <div class="content_post">
                <p><strong>Сумма минимального заказа</strong><br />2500 руб.</p>

                <p><strong>Доставка по Санкт-Петербургу (в пределах КАД)</strong><br /> При оформлении и подтверждении Заказа доставка возможна на следующий день с Пн по Вс.<br /> 
                    <br /> Интервал доставки заказов:<br /> Понедельник - Воскресенье <br /> с 10:00 до 14:00<br /> с 10:00 до 16:00<br /> с 14:00 до 18:00<br /> с 18:00 до 22:00<br />
                    <br /> Основная зона доставки отмечена на карте</p>
                <style>
                    @media screen and (max-width: 1200px) {
                        iframe {
                            width: 90%;
                            margin: auto;
                            display: block;
                        }
                        .sam_map {
                            width: 90%;
                            margin: auto;
                        }
                    }
                </style>
                <iframe src="https://yandex.ru/map-widget/v1/-/CBelRRxrhC" width="100%" height="300" frameborder="0"></iframe>
                <br /><br />
                <p style="margin-bottom: 0;"><strong>Стоимость доставки:</strong></p>
                <ul style="margin-bottom: 28px;">
                    <li>Заказ до 2500 руб. - 250 руб.</li>
                    <li>Заказ свыше 2500 руб. - <strong>Бесплатно</strong></li>
                </ul>
                <p style="margin-bottom: 0;"><strong>Доставка в другие регионы Спб и Ленобласти</strong><br> Интервал доставки заказов Пн-Вс с 10:00 до 22:00<br /> Удаленность от основной зоны (основная зона указана на карте выше)</p>
                <ul style="margin-bottom: 0;">
                    <li>5 км от - 350 руб.</li>
                    <li>10 км - 400 руб.</li>
                    <li>15 км - 450 руб.</li>
                    <li>20 км - 500 руб.</li>
                </ul>

                <p>При заказе свыше 2500 руб. скидка на доставку - 250 руб.</p>



                <p style="margin-bottom: 0;"><strong>Способ оплаты:</strong></p>
                <ul style="margin-bottom: 28px;">
                    <li>Наличными при получении </li>
                    <li>Банковская карта онлайн </li>
                    <li>Банковская карта при получении </li>
                    <li>WebMoney </li>
                    <li>Яндекс.Деньги </li>
                    <li>Банковский перевод (сумма заказа от 5000 руб.)</li>
                </ul>

                <p style="margin-bottom: 0;"><strong>Время работы магазина</strong></p>
                <ul style="margin-bottom: 28px;">
                    <li>Оформление заказа на сайте онлайн - круглосуточно</li>
                    <li>Время подтверждения по телефону - Пн-Вс с 10:00 до 22:00</li>
                </ul>
                <p>После оформления заказа с Вами свяжется наш менеджер и обсудит удобное для Вас время доставки.</p>

                <p><strong>Как происходит доставка</strong><br /> В день доставки курьер предварительно позвонит и сообщит о своем приезде.<br /> Наши заказы доставляют курьеры от интернет-магазина Opeshek.ru.<br /> Все заказы доставляются в
                    пакетах.<br /> {% comment %}Более подробную информацию об упаковке вы можете найти в разделе <a href="craft-packets">"Наша упаковка"</a>{% endcomment %}</p>
            </div>
        </div>
    </div>
{% endblock %}
