{% extends 'shop/base.html' %}
{% load static %}

{% block head %}
    <title>Главная</title>

    <style>
        {% for c in categories %}
            {% if c.image %}
                .item_product .{{ c.slug }} {
                    background: url({{ c.image.url }}) 50% 50% no-repeat;
                    background-size: cover
                }
            {% endif %}
        {% endfor %}
    </style>
{% endblock %}

{% block body %}
    <div class="big_photo">
        <h1 class="title"><span>Орехи и Сухофрукты</span><br/><span class="subtitle">Интернет-магазин<br/>Санкт-Петербург</span>
        </h1>
        <div class="info_title">
            <p>Лучшая цена и качество</p>
            <p>8 (999) <strong>113-57-13</strong></p>
        </div>
        <a href="/all-foods" class="new_button"><span>Перейти в каталог</span></a>
    </div>

    {% if categories %}
        <div class="main_block opacity_gray">
            <div class="container">
                <div class="headline">
                    <h2 class="title">КАТЕГОРИИ ТОВАРОВ</h2>
                </div>
                <div class="thumbs_product">
                    {% for c in categories %}
                        <div class="item_product">
                            <div class="wrap img_categ {{ c.slug }}"
                                 onclick="return location.href = '{{ c.get_absolute_url }}'">
                                <div class="stick">
                                    <i class="icon-nuts"></i>
                                </div>
                                <div class="hold">
                                    <div class="title">{{ c.name }}</div>
                                    <a href="{{ c.get_absolute_url }}" class="button"
                                       title="Купить {{ c.name | lower }} в интернет-магазине">Купить</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}

    <div class="main_block white bg">
        <div class="container">
            {% if bestsellers %}
                <div class="main_row">
                    <div class="headline mb_min">
                        <h2 class="title">ХИТЫ ПРОДАЖ</h2>
                    </div>

                    <div class="nav_panel mb_min">
                        <div class="list">
                            <div class="item"><a href="#"> </a></div>
                        </div>
                    </div>

                    <div class="thumbs">

                        {% for bestseller in bestsellers %}
                            {% include "shop/product/card.html" with product=bestseller %}
                        {% endfor %}

                    </div>

                    <a href="/all-foods" class="new_button color2" style="margin-top: 30px;">Перейти в каталог</a>
                </div>
            {% endif %}

            <div class="main_row">
                <div class="headline">
                    <h2 class="title">Opeshek.ru</h2>
                </div>
                <div class="main_content">
                    <div class="">
                        <p>Интернет стал неотъемлемой частью нашей жизни. Именно поэтому мы создали интернет-магазин
                            с качественными и полезными продуктами питания. Только представьте, теперь Вам не нужно
                            простаивать возле полок супермаркета, изучая
                            состав и проверяя сроки хранения товаров. Забудьте про очереди на кассе, толкающихся
                            людей и тяжелые сумки, всё это в прошлом. Интернет-магазин Opeshek.ru &ndash; это новый
                            уровень, высокое качество и широкий ассортимент
                            товаров, который каждому придется по вкусу.</p>

                        <p>Наш онлайн-магазин зарекомендовал себя надежным поставщиком недорогих орехов,
                            сухофруктов, специй, сладостей, цукатов, сезонных и экзотических фруктов из Таиланда и
                            Вьетнама. Совершая покупки у нас, Вы получаете свой заказ
                            в брендированных коробках в удобном для Вас месте и в удобное время. Будь то коробка с
                            фруктами или подарочная коробка с орехами и сухофруктами, мы доставим Ваш заказ прямо к
                            вам домой или в офис. Доставка осуществляется
                            курьерской службой по Санкт-Петербургу и Ленинградской области.</p>

                        <p>Вся продукция фасуется в стильные крафт пакеты, сертифицированные для хранения продуктов
                            питания. Opeshek.ru заботится о своих покупателях и предлагает только экологически
                            чистые, полезные и вкусные продукты. Каждый товар
                            имеет необходимые лицензии и сертификаты, а прямое сотрудничество с крупнейшими
                            импортерами позволяет отбирать орехи и сухофрукты самого лучшего качества.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="main_block">
        <div class="container">
            <div class="headline">
                <h2 class="title">Как мы работаем</h2>
            </div>
            <div class="order-steps">
                <div class="order-step choose-step">
                    <div class="order-step-wrapper">
                        <h2 class="step-header">Заявка</h2>
                        <p class="step-description">Заполните форму обратной связи и получите прайс-лист.</p>
                    </div>
                    <div class="order-step-arrow"></div>
                    <div class="order-step-bg"></div>
                    <div class="order-step-icon"></div>
                </div>
                <div class="order-step form-step">
                    <div class="order-step-wrapper">
                        <h2 class="step-header">Оформи</h2>
                        <p class="step-description">Сообщите оператору ассортимент, мы подготовим накладную.</p>
                    </div>
                    <div class="order-step-arrow"></div>
                    <div class="order-step-bg"></div>
                    <div class="order-step-icon"></div>
                </div>
                <div class="order-step receive-step">
                    <div class="order-step-wrapper">
                        <h2 class="step-header">Получи</h2>
                        <p class="step-description">Мы оперативно соберем заказ и отправим в ближайшее время</p>
                    </div>
                    <div class="order-step-bg"></div>
                    <div class="order-step-icon"></div>
                </div>
            </div>

            <style>
                .order-steps {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin: 80px 0;
                }
                .order-step {
                {#max-width: 330px;#}
                    width: 100%;
                    margin-right: 70px;
                    position: relative;
                    border-radius: 10px;
                    background-color: #ffffff;
                    box-shadow: 0px 0px 10px 0px rgb(35 61 77 / 20%);
                    padding: 50px 20px;
                    box-sizing: border-box;
                }

                .order-step:last-child {
                    margin-right: 0;
                }

                .order-step-wrapper {
                    width: 210px;
                }
                .choose-step .order-step-arrow {
                    width: 260px;
                    height: 36px;
                    position: absolute;
                    top: -36px;
                    right: -200px;
                    background-image: url("{% static 'images/order/arrow.svg' %}");
                    background-repeat: no-repeat;
                    background-position: top right;
                    background-size: cover;
                }
                .form-step .order-step-arrow {
                    width: 260px;
                    height: 36px;
                    position: absolute;
                    bottom: -36px;
                    right: -200px;
                    background-image: url("{% static 'images/order/arrow2.svg' %}");
                    background-repeat: no-repeat;
                    background-position: top right;
                    background-size: cover;
                }
                .order-step-bg {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    right: 0;
                    background-image: url("{% static 'images/order/bg.svg' %}");
                    background-repeat: no-repeat;
                    background-position: top right;
                    background-size: cover;
                }

                .order-step-icon {
                    width: 90px;
                    height: 90px;
                    position: absolute;
                    top: 10px;
                    right: 25px;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }
                .choose-step .order-step-icon {
                    background-image: url("{% static 'images/order/choose-step.svg' %}");
                }
                .form-step .order-step-icon {
                    background-image: url("{% static 'images/order/form-step.svg' %}");
                    right: 15px;
                }
                .receive-step .order-step-icon {
                    height: 83px;
                    background-image: url("{% static 'images/order/receive-step.svg' %}");
                    right: 15px;
                }


                .step-header {
                    color: #233d4d!important;
                    font-size: 26px!important;
                }
                .step-description {
                    color: #233d4d!important;
                    font-size: 18px!important;
                    line-height: 1.55!important;
                    margin-top: 25px;
                }

                @media (max-width: 960px) {
                    .section226 .btn1 {
                        width: 100%;
                    }

                    .order-steps {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                        margin-top: 0;
                        margin-bottom: 30px;
                    }

                    .order-step {
                        max-width: 292px;
                        margin-top: 45px;
                        margin-right: 0;
                    }

                    .choose-step .order-step-arrow {
                        transform: rotate(90deg);
                        top: 200px;
                        right: -150px;
                    }

                    .form-step .order-step-arrow {
                        transform: rotate(90deg);
                        bottom: -100px;
                        right: 180px;
                    }

                    .order-step-icon {
                        width: 75px;
                        height: 75px;
                    }
                }
            </style>
        </div>
    </div>
{% endblock %}
