{% extends 'shop/base.html' %}
{% load static %}

{% block head %}
    <title>Как сделать заказ - видеоинструкция от Opeshek.ru</title>
    <meta name="description" content="Мы постарались подробно ответить на все вопросы и сделали видеоинструкцию о том, как сделать заказ в интернет-магазине Opeshek.ru, где вы можете купить орехи, сухофрукты, специи и фрукты онлайн." />
{% endblock %}

{% block body %}
    <div class="main_block">
        <div class="container">
            <div class="headline">
                <h1 class="title">Как сделать заказ</h1>
            </div>
            <div class="content_post img_mob">
                <p>Как оформить заказ в интернет-магазине Opeshek.ru? Представляем подробную пошаговую инструкцию!</p>
                <h2>Видео инструкция.</h2>
                <iframe width="560" height="315" class="video_youtube" src="https://www.youtube.com/embed/3drk4mexVdM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                <p>1. Выберите нужную Вам категорию товаров</p>
                <p><img src="{% static 'images/content/kak-sdelat-zakaz/1.jpg' %}" class="img_resize" /></p>
                <p>2. Выберите фасовку, количество понравившегося товара и нажмите на кнопку "В корзину". Закончив выбор товаров, перейдите в корзину.</p>
                <p><img src="{% static 'images/content/kak-sdelat-zakaz/2.jpg' %}" class="img_resize" /></p>
                <p>3. Проверьте наименования, количество и фасовку товаров. При необходимости измените содержимое корзины нажмите на кнопку "Оформить заказ"</p>
                <p><img src="{% static 'images/content/kak-sdelat-zakaz/3.jpg' %}" class="img_resize" /></p>
                <p>4. Заполните контактную информацию, выберите удобный для Вас способ доставки и оплаты.</p>
                <p><img src="{% static 'images/content/kak-sdelat-zakaz/4.jpg' %}" class="img_resize" /></p>
                <p>5. Заполните поле "Адрес доставки", выберите удобное время и дату доставки. Нажмите на кнопку "Подтвердить заказ".</p>
                <p><img src="{% static 'images/content/kak-sdelat-zakaz/5.jpg' %}" class="img_resize" /></p>
                <p>6. После оформления заказа с Вами свяжется менеджер для подтверждения заказа.<br />Приятных покупок!</p>
            </div>
        </div>
    </div>
{% endblock %}
