{% extends 'shop/base.html' %}
{% load static %}

{% block head %}
    <title>Вопросы и ответы интернет-магазина Opeshek.ru</title>
    <meta name="description" content="В данном разделе компания Opeshek.ru подробно ответила на все вопросы, которые часто задают нам наши клиенты. Если у вас появились новые вопросы, мы будем рады ответить и на них." />
{% endblock %}

{% block body %}
    <div class="main_block">
        <div class="container">
            <div class="headline">
                <h1 class="title">Вопросы и Ответы</h1>
            </div>
            <div class="content_post question_page">
                <p class="title_quest">О компании</p>
                <p class="p_a">- <a href="#row_26" class="get_block">Чем Ваш интернет-магазин лучше других?</a></p>
                <p class="p_a">- <a href="#row_27" class="get_block">У Вас есть профили в социальных сетях?</a></p>
                <p class="p_a">- <a href="#row_28" class="get_block">Как связаться с отделом закупок?</a></p>

                <p class="title_quest">О продукции</p>
                <p class="p_a">- <a href="#row_29" class="get_block">Цукаты содержат сахар?</a></p>
                <p class="p_a">- <a href="#row_30" class="get_block">Откуда поставляется Ваша продукция?</a></p>
                <p class="p_a">- <a href="#row_31" class="get_block">У Вас есть сертификаты на продукцию?</a></p>
                <p class="p_a">- <a href="#row_32" class="get_block">Как узнать срок годности продукции?</a></p>

                {% comment %}<p class="title_quest">Об упаковке</p>
                <p class="p_a">- <a href="#row_33" class="get_block">Как будет упакован мой заказ?</a></p>
                <p class="p_a">- <a href="#row_34" class="get_block">Какие виды фасовки у Вас есть?</a></p>{% endcomment %}

                <p class="title_quest">О доставке</p>
                <p class="p_a">- <a href="#row_35" class="get_block">Когда и как будет доставлен мой заказ?</a></p>
                <p class="p_a">- <a href="#row_36" class="get_block">Куда осуществляете доставку?</a></p>

                <p class="title_quest">Об оплате</p>
                <p class="p_a">- <a href="#row_37" class="get_block">Как я могу оплатить свой заказ?</a></p>
                <p class="p_a">- <a href="#row_38" class="get_block">Есть ли в пункте самовывоза возможность оплаты через терминал?</a></p>
                <p class="p_a">- <a href="#row_39" class="get_block">Сотрудничаете ли Вы с юридическими лицами?</a></p>


                <p class="title_quest">О хранении</p>
                <p class="p_a">- <a href="#row_42" class="get_block">Как хранить орехи и сухофрукты?</a></p>
                <p class="p_a">- <a href="#row_43" class="get_block">Надо ли мыть орехи и сухофрукты?</a></p>

                <p class="title_quest">О подарках</p>
                <p class="p_a">- <a href="#row_44" class="get_block">Что нужно сделать, чтобы получить подарок?</a></p>

                <div>
                    <hr />
                    <p class="title_quest" style="margin-bottom: 10px;">О компании</p>
                    <h2 id="row_26"><span>- Чем Ваш интернет-магазин лучше других?</span></h2>
                    <p>Мы предоставляем нашим клиентам качественную продукцию, которую сами употребляем в пищу. Прямое сотрудничество с крупнейшими импортерами позволяет нам отбирать орехи и сухофрукты самого лучшего качества. Мы заботимся о своих
                        покупателях и предлагаем только экологически чистую, полезную и вкусную продукцию.</p>
                    <h2 id="row_27"><span>- У Вас есть профили в социальных сетях?</span></h2>
                    <p>Да. Присоединяйтесь к нам, чтобы быть в курсе наших новостей и акций:
                        <br><a href="https://www.instagram.com/nuts.rus/">https://www.instagram.com/nuts.rus/</a></p>
                    <h2 id="row_28"><span>- Как связаться с отделом закупок?</span></h2>
                    <p>Вы можете отправить своё коммерческое предложение через <a href="http://opeshek.ru/contact" target="_blank">«контакт форму»</a>.</p>
                    

                    <hr />
                    <p class="title_quest" style="margin-bottom: 10px;">О продукции</p>
                    <h2 id="row_29"><span>- Цукаты содержат сахар?</span></h2>
                    <p>Цука́ты (польск. cukaty, от cukier — «сахар») — сваренные в сахарном или сахаропаточном сиропе сочные плоды. Поэтому вся продукция из раздела <a href="http://opeshek.ru/cukaty" target="_blank">«Цукаты»</a> содержит
                        сахар.</p>
                    <h2 id="row_30"><span>- Откуда поставляется Ваша продукция?</span></h2>
                    <p>Информация о стране-производителе указана на странице каждого товара.</p>
                    <h2 id="row_31"><span>- У Вас есть сертификаты на продукцию?</span></h2>
                    <p>Каждый товар имеет все необходимые сертификаты качества.</p>
                    <h2 id="row_32"><span>- Как узнать срок годности продукции?</span></h2>
                    <p>На оборотной стороне каждой упаковки есть этикетка, на которой указаны срок годности и дата фасовки.</p>

                    {% comment %}<hr />
                    <p class="title_quest" style="margin-bottom: 10px;">Об упаковке</p>
                    <h2 id="row_33"><span>- Как будет упакован мой заказ?</span></h2>
                    <p>Для упаковки продукции мы используем крафтовые пакеты дой-пак с замком зип-лок. Более подробную информацию об упаковке вы можете найти в разделе <a href="http://opeshek.ru/craft-packets" target="_blank">«Наша упаковка»</a>.</p>
                    <h2 id="row_34"><span>- Какие виды фасовки у Вас есть?</span></h2>
                    <p>В нашем интернет-магазине представлено 5 видов фасовки - 100 г, 300 г, 500 г, 1 кг, и на развес. Пакеты с фасовкой по 100 г предназначены для специй, а пакеты с фасовкой 300 г, 500 г и 1 кг используются для упаковки орехов, сухофруктов,
                        цукатов, сладостей, снеков и бакалеи. На развес - Вы самостоятельно указываете сколько граммов упаковать</p>{% endcomment %}

                    <hr />
                    <p class="title_quest" style="margin-bottom: 10px;">О доставке</p>
                    <h2 id="row_35"><span>- Когда и как будет доставлен мой заказ?</span></h2>
                    <p>Доставка осуществляется курьерской службой. При оформлении заказа Вы можете выбрать удобное для Вас время и день доставки. Курьеры привезут Ваш заказ в указанный Вами временной промежуток.</p>
                    <h2 id="row_36"><span>- Куда осуществляете доставку?</span></h2>
                    <p>Мы осуществляем доставку по Санкт-Петербургу и Ленобласти. Более подробную информацию о доставке Вы можете найти в разделе <a href="http://opeshek.ru/dostavka" target="_blank">«Оплата/Доставка»</a>.</p>

                    <hr />
                    <p class="title_quest" style="margin-bottom: 10px;">Об оплате</p>
                    <h2 id="row_37"><span>- Как я могу оплатить свой заказ?</span></h2>
                    <p>В нашем интернет-магазине есть несколько способов оплаты: наличными при получении заказа, Сбербанк Онлайн, банковская карта онлайн, банковская карта при получении, Webmoney, Яндекс.Деньги, банковский перевод.</p>
                    <h2 id="row_38"><span>- Есть ли в пункте самовывоза возможность оплаты через терминал?</span></h2>
                    <p>Да, в пункте самовывоза можно оплатить свой заказ через терминал.</p>
                    <h2 id="row_39"><span>- Сотрудничаете ли Вы с юридическими лицами?</span></h2>
                    <p>Наш интернет-магазин сотрудничает с юридическими лицами и индивидуальными предпринимателями.
                        Мы работаем по безналичному расчету и оформляем все необходимые бухгалтерские документы: договоры, счета, счета-фактуры, товарные накладные. Минимальная сумма заказа для оплаты по безналичному расчету для юридических лиц
                        составляет 5000 руб.</p>


                    <hr />
                    <p class="title_quest" style="margin-bottom: 10px;">О хранении</p>
                    <h2 id="row_42"><span>- Как хранить орехи и сухофрукты?</span></h2>
                    <p>Мы рекомендуем хранить орехи и сухофрукты в сухих стеклянных, керамических или деревянных банках с герметичной крышкой. Срок хранения при комнатной температуре составляет 3 месяца, в холодильнике - до 6 месяцев.</p>
                    <h2 id="row_43"><span>- Надо ли мыть орехи и сухофрукты?</span></h2>
                    <p>Получив заказ, тщательно промойте орехи и сухофрукты теплой водой, просушите при комнатной температуре, а затем воспользуйтесь духовым шкафом. Такой метод позволяет предотвратить появление плесени, которая может возникнуть
                        на плохо просушенных сухофруктах.</p>

                    <hr />
                    <p class="title_quest" style="margin-bottom: 10px;">О подарках</p>
                    <h2 id="row_44"><span>- Что нужно сделать, чтобы получить подарок?</span></h2>
                    <p>Поделитесь своими впечатлениями о нашей продукции в своих социальных сетях Instagram <a> href="https://www.instagram.com/nuts.rus/" </a>. <br>Прикрепите красочную
                        фотографию своего заказа и напишите хэштег #nutsrus. </p>


                </div>
            </div>
        </div>
    </div>
{% endblock %}
