{% extends "shop/base.html" %}
{% load static %}
{% load custom_filters %}

{% block head %}
    <title>Мои покупки - Opeshek.ru</title>
    <meta name="description" content="" />
{% endblock %}

{% block body %}
    <div class="main_block">
        <div class="container">
            <div class="headline">
                <h1 class="title">Оформление заказа</h1>
            </div>

            {% comment %}<div class="error_confirm hide">
                <p>Минимальный заказ - 700 руб.</p>
            </div>{% endcomment %}

            {% if cart|length > 0 %}
                <div class="right_cart section_order">
                    <div class="title">
                        <h2>В корзине</h2>
                    </div>
                    <div class="table_checout table_cart_prod " style="max-width: 1050px;margin: auto;">
                        <table>
                            {% for item in cart %}
                                <tr id="c_row_del_10_5" class="tr_prod">
                                    <td>
                                        <div class="image">
                                            {% if item.product.image %}
                                                <a href="{{ item.product.get_absolute_url }}">
                                                    <img src="{{ item.product.image.url }}" alt="" style="max-width:50px">
                                                </a>
                                            {% endif %}
                                        </div>
                                        <div class="name">
                                            <a href="{{ item.product.get_absolute_url }}">{{ item.product.name }}</a>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="name_collum">Фасовка</div>
                                        <div class="price_itogo" style="font-weight: bold;">{{ item.weight | weight }}</div>
                                    </td>
                                    <td class="" style="width: 79px;">
                                        <div class="name_collum">Кол-во</div>
                                        <div class="price_itogo" style="font-weight: bold;">{{ item.quantity }}</div>
                                    </td>
                                    <td>
                                        <div class="name_collum">Итого:</div>
                                        <div class="price_itogo">
                                            <strong class="prod_price_cart">{{ item.total_price }}</strong> руб.
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>

                    <div class="itogo_cart ">
                        Итого: <strong class="total_price_r">{{ cart.get_total_price }}</strong> руб.
                    </div>
                </div>

                <div class="left_form">
                    <div class="section_order table_cart_prod">

                        <form action="{% url 'orders:order_create' %}" method="post" class="cart_order" id="cart_order">
                            {% csrf_token %}
                            <div class="wrap">
                                <div class="columns">

                                    <div class="column2">
                                        <div class="box">
                                            <div class="title">
                                                <h2>Контактная информация</h2>
                                            </div>
                                            <div class="hold">
                                                <div class="row_field clearfix">
                                                    <div class="wrap_label">
                                                        <label for="name" class="label">Контактное лицо <span>*</span></label>
                                                    </div>
                                                    <div class="wrap_input">
                                                        <input type="text" class="input req" class="name" name="name" id="name" value="">
                                                    </div>
                                                </div>
                                                <div class="row_field clearfix">
                                                    <div class="wrap_label">
                                                        <label for="phone" class="label ">Номер телефона <span>*</span></label>
                                                    </div>
                                                    <div class="wrap_input">
                                                        <input type="text" name="phone" placeholder="+7(___)___-__-__" class="input req phone_mask" id="phone" value="">
                                                    </div>
                                                </div>
                                                <div class="row_field clearfix">
                                                    <div class="wrap_label">
                                                        <label for="email" class="label">Электронная почта <span class="email_req_inf">*</span></label>
                                                    </div>
                                                    <div class="wrap_input">
                                                        <input type="text" class="input req" id="email" name="email" value="">
                                                    </div>
                                                </div>
                                                <div class="row_field clearfix">
                                                    <div class="wrap_label">
                                                        <label for="address" class="label">Адрес доставки <span class="email_req_inf">*</span></label>
                                                    </div>
                                                    <div class="wrap_input">
                                                        <input type="text" class="input req" id="address" name="address" value="">
                                                    </div>
                                                </div>

                                                {% comment %}<div class="row_field clearfix">
                                                <div class="wrap_label">


                                                </div>
                                                <div class="wrap_input" style="padding-left: 2px;">
                                                    <input type="checkbox" style="width: 26px;height: 36px;float: left; margin-right: 17px;" name="registration" id="registration" value="1">
                                                    <label for="registration" style="font-weight: 100;" class="label ">Стать постоянным покупателем<br />Вы сможете видеть историю заказов и проще делать новые</label>
                                                </div>
                                            </div>{% endcomment %}

                                                {% comment %}<div class="password_field hide" style="margin-top: 35px;">
                                                <div class="row_field clearfix">
                                                    <div class="wrap_label">
                                                        <label for="email" class="label">Электронная почта <span class="email_req_inf hide">*</span></label>
                                                    </div>
                                                    <div class="wrap_input">
                                                        <input type="text" class="input" id="email" name="email" value="">
                                                        <p class="hidden error_email">Ошибка, введите Email</p>
                                                    </div>
                                                </div>

                                                <div class="row_field clearfix">
                                                    <div class="wrap_label">
                                                        <label for="password" class="label ">Пароль <span>*</span></label>
                                                    </div>
                                                    <div class="wrap_input">
                                                        <input type="password" name="password" class="input" id="password" value="">
                                                        <p class="hidden">Ошибка, введите пароль</p>
                                                    </div>
                                                </div>

                                                <div class="row_field clearfix">
                                                    <div class="wrap_label">
                                                        <label for="password_conf" class="label ">Подтвердите пароль <span>*</span></label>
                                                    </div>
                                                    <div class="wrap_input">
                                                        <input type="password" name="password_conf" class="input" id="password_conf" value="">
                                                        <p class="hidden">Ошибка, пароли не совпадают</p>
                                                    </div>
                                                </div>
                                            </div>{% endcomment %}


                                            </div>
                                        </div>

                                    </div>
                                    <br /><br />
                                </div>

                                {% comment %}<div class="columns">
                                <div class="column" style="padding: 0;">
                                    <div class="box">
                                        <div class="title" style="margin-bottom: 10px;">
                                            <h2>Куда доставить</h2>
                                        </div>
                                        <p><a target="_blank" style="color: #000;text-decoration: underline;" href="/dostavka-orehov-suhofruktov-speciy/">Показать зоны доставки и тарифы</a></p>
                                        <div class="" style="max-width: 367px;">
                                            <select name="delivery" class="select_single" id="delivery" style="width:100%;">
                                                <option value="">Выберите способ доставки</option>
                                                <option value="2">Основная зона доставки СПб</option>
                                                <option value="21">До 5 км от основной зоны доставки</option>
                                                <option value="22">5-10 км от основной зоны доставки</option>
                                                <option value="23">10-15 км от основной зоны доставки</option>
                                                <option value="24">15-20 км от основной зоны доставки</option>
                                            </select>
                                            <p class="hidden">Ошибка, выберите способ доставки</p>
                                        </div>

                                        <input type="hidden" id="total_price_check" class="total_price_r_inp" value="1323" />


                                    </div>

                                    <div class="total_price" style="margin-top: 20px;">
                                        <div class="line delivery_price" style="font-size: 16px;">
                                                    <span class="price_delivery_k hide">
                        Стоимость доставки - <strong class="sum_price">250</strong> руб.
                      </span>
                                            <span class="price_delivery_not_pay hide">
                        Стоимость доставки - <strong class="">Бесплатно</strong>
                      </span>
                                            <span class="price_delivery_samovuvoz hide">Стоимость самовывоза - <strong class="">Бесплатно</strong>
                      <div>Заказ будет доступен к выдаче с <strong class="">12.01.2021</strong></div>
                                                <div class="warning_new_samovuvoz">
                          <br>
                          <strong style="color: #800;">Внимание!<br />
                          В связи со сложной обстановкой в стране из-за коронавируса пункт самовывоза будет закрыт с 29го марта до 6 апреля.<br />
                          Приносим свои извинения.</strong>
                        </div>
                                              </span>

                                            <span class="delivery_rf hide"><br />Более точную стоимость доставки Вам сообщит наш менеджер по телефону при подтверждении заказа.</span>

                                        </div>


                                    </div>
                                </div>
                                <div class="column desctop_version">
                                    <div class="box">
                                        <div class="title" style="    margin-bottom: 45px;">
                                            <h2>Способ оплаты</h2>
                                        </div>
                                        <div class="">
                                            <select name="payment" class="select_single" id="payment" style="width:100%;">
                                                <option value="">Выберите способ оплаты</option>
                                                <option value="1">Наличными при получении</option><option value="5">Банковская карта онлайн</option><option value="6">Банковская карта при получении</option><option value="4">WebMoney</option><option value="3">Яндекс.Деньги</option><option value="7">Банковский перевод</option>  												</select>
                                            <p class="hidden">Ошибка, выберите способ оплаты</p>
                                            <div class="odd_money_block hide">
                                                <label for="odd_money">Нужна сдача с <input type="text" onkeypress='validate(event)' class="odd_money" name="odd_money" id="odd_money" /> руб.</label>
                                            </div>
                                        </div>


                                    </div>


                                </div>
                            </div>{% endcomment %}

                                <div class="columns">
                                    {% comment %}<div class="column2 adres_dostavki hide">
                                    <div class="box">
                                        <div class="title flex">
                                            <h2>Адрес доставки</h2>

                                        </div>
                                        <div class="hold">
                                            <div class="row_field clearfix">
                                                <div class="wrap_label">
                                                    <label for="city" class="label">Город доставки <span class="dos_rf hide">*</span></label>
                                                </div>
                                                <div class="wrap_input adres_field">
                                                    <input type="text" class="input req_adres" id="city" name="city" value="">
                                                    <p class="hidden">Ошибка, введите город</p>
                                                </div>
                                            </div>
                                            <div class="row_field clearfix">
                                                <div class="wrap_label">
                                                    <label for="street" class="label">Улица <span class="dos_rf hide">*</span></label>

                                                </div>
                                                <div class="wrap_input adres_field">
                                                    <input type="text" class="input req_adres" id="street" name="street" value="">
                                                    <p class="hidden">Ошибка, введите улицу</p>
                                                </div>
                                            </div>
                                            <div class="row_field clearfix">
                                                <div class="wrap_label">
                                                    <label for="home" class="label">Дом <span class="dos_rf hide">*</span></label>
                                                </div>
                                                <div class="wrap_input adres_field">
                                                    <input type="text" class="input req_adres" id="home" name="home" value="">
                                                    <p class="hidden">Ошибка, введите дом</p>
                                                </div>
                                            </div>
                                            <div class="row_field clearfix">
                                                <div class="wrap_label">
                                                    <label for="housing" class="label">Корпус</label>
                                                </div>
                                                <div class="wrap_input">
                                                    <input type="text" class="input" id="housing" name="housing" value="">
                                                </div>
                                            </div>
                                            <style>
                                                .fl_50 {
                                                    float: left;
                                                    width: 50%;
                                                    margin-top: 35px;
                                                }

                                                .pl_90 {
                                                    padding-left: 90px;
                                                }

                                                .section_order .pl_90 .wrap_label {
                                                    width: 130px;
                                                }

                                                .fl_50_block:after {
                                                    content: '';
                                                    display: block;
                                                    clear: left;
                                                }

                                                @media screen and (max-width: 639px) {
                                                    .fl_50 {}
                                                    .pl_90 {
                                                        padding-left: 15px;
                                                    }
                                                    .pr_15 {
                                                        padding-right: 15px;
                                                    }
                                                    .section_order .pl_90 .wrap_label {
                                                        width: auto;
                                                    }
                                                }
                                            </style>
                                            <div class="fl_50_block">
                                                <div class="fl_50 pr_15">
                                                    <div class="row_field clearfix">
                                                        <div class="wrap_label">
                                                            <label for="apartment" class="label">Квартира</label>
                                                        </div>
                                                        <div class="wrap_input">
                                                            <input type="text" class="input" id="apartment" name="apartment" value="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="fl_50 pl_90">
                                                    <div class="row_field clearfix">
                                                        <div class="wrap_label">
                                                            <label for="front" class="label">Парадная</label>
                                                        </div>
                                                        <div class="wrap_input">
                                                            <input type="text" class="input" id="front" name="front" value="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="row_field clearfix index_field hide">
                                                <div class="wrap_label">
                                                    <label for="index" class="label">Индекс <span class="dos_rf hide">*</span></label>
                                                </div>
                                                <div class="wrap_input adres_field">
                                                    <input type="text" class="input index_field_inp" id="index" name="index" value="" />
                                                    <p class="hidden">Ошибка, заполните поле</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br /><br />

                                </div>

                                <div class="mob_version">
                                    <div class="box">
                                        <div class="title">
                                            <h2>Способ оплаты</h2>
                                        </div>
                                        <div class="">
                                            <select name="payment" class="select_single" id="payment_mob" style="width:100%;">
                                                <option value="">Выберите способ оплаты</option>
                                                <option value="1">Наличными при получении</option><option value="5">Банковская карта онлайн</option><option value="6">Банковская карта при получении</option><option value="4">WebMoney</option><option value="3">Яндекс.Деньги</option><option value="7">Банковский перевод</option>  												</select>
                                            <p class="hidden">Ошибка, выберите способ оплаты</p>
                                            <div class="odd_money_block hide">
                                                <label for="odd_money">Нужна сдача с <input type="number" type="text" onkeypress='validate(event)' class="odd_money" id="odd_money_2" /> руб.</label>
                                            </div>
                                        </div>

                                    </div>

                                    <br>
                                </div>

                                <input type="hidden" name="odd_money" id="odd_money_hidden" />

                                <div class="column2 date_time_delivery hide">

                                    <div class="box clearfix">
                                        <div class="title">
                                            <h2>Время и дата доставки</h2>
                                        </div>
                                        <div class="" style="float: left;width:40%">

                                            <select name="delivery_date" class="select_single" id="delivery_date" style="width:100%;">
                                                <option value="">Дата доставки</option>
                                                <option value="2021-01-12">Вторник, 12 января</option>
                                                <option value="2021-01-13">Среда, 13 января</option>
                                                <option value="2021-01-14">Четверг, 14 января</option>
                                                <option value="2021-01-15">Пятница, 15 января</option>
                                                <option value="2021-01-16">Суббота, 16 января</option>
                                            </select>
                                            <p class="hidden">Ошибка, выберите дату</p>
                                        </div>

                                        <div class="from10" style="float: right;width:40%">
                                            <input type="hidden" id="next_date" value="2021-01-04" />
                                            <input type="hidden" id="this_time" value="15" />
                                            <select name="delivery_time" class="select_single" id="delivery_time" style="width:100%;">
                                                <option value="">Время доставки</option>
                                                <option value="10:00-16:00">10:00-16:00</option>
                                                <option value="10:00-14:00">10:00-14:00</option>
                                                <option value="14:00-18:00">14:00-18:00</option>
                                                <option value="18:00-21:00">18:00-21:00</option>
                                            </select>
                                            <p class="hidden">Ошибка, выберите время</p>
                                        </div>


                                    </div>
                                    <br /><br />

                                </div>{% endcomment %}

                                    <div class="column2">
                                        <div class="hold">
                                            <div class="row_radio">
                                                <div class="title flex" style="margin-bottom: 0;">
                                                    <h2>Комментарий к заказу:</h2>
                                                </div>
                                                <div class="wrap_textarea">
                                                    <textarea class="textarea" name="comment" id="comment" placeholder=""></textarea>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>

                            <div class="bottom_order">
                                {% comment %}<div class="row hide">
                                    <div class="cols">
                                        <div class="form_coupon">
                                            <div class="hide">
                                                <div class="">
                                                    <label for="kupon" class="label">Номер купона на скидку</label>
                                                </div>
                                                <br />
                                                <div class="">
                                                    <input type="text" class="input" id="kupon" name="kupon">
                                                    <button type="button" class="button">Применить</button>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>{% endcomment %}
                                <br /><br />

                                <div class="row" style="border: 0;margin-top:0;padding-top:0">
                                    <div class="button_field">
                                        <input type="hidden" id="domain" value="" />
                                        <input type="submit" class="button confirm_buttom" style="float: right;" value="Оплатить заказ">
                                        <button type="button" class="close hide result_modal" data-toggle="modal" data-target=".modal-sm3"></button>
                                        <button type="button" class="close hide not_checkout_modal" data-toggle="modal" data-target=".modal-sm4"></button>
                                        <button type="button" class="close hide min_order" data-toggle="modal" data-target=".modal-sm5"></button>
                                        {% comment %}<div class="loader_img hide" style="margin-top: 22px;padding-right: 10px;"><img src="/images/loader.gif" /></div>{% endcomment %}
                                    </div>
                                </div>
                                <div class="public_offer">
                                    Нажимая на кнопку, вы соглашаетесь с <a href="/agreement/" target="_blank">Условиями продажи</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            {% else %}
                <p class="not_cart_prodts hide" style="text-align: center;"><strong>Ваша корзина пуста</strong></p>
            {% endif %}
        </div>
    </div>

{% endblock %}
