{% extends "shop/base.html" %}
{% load static %}

{% block head %}
    <title>Мои покупки - Opeshek.ru</title>
    <meta name="description" content="" />
{% endblock %}

{% block body %}
    <div class="main_block">
        <div class="container">
            <div class="headline">
                <h1 class="title">Ваш заказ №{{ order.id }} сформирован</h1>
            </div>
            <div class="checkout_content">
                <div class="title">
                    <img src="{% static '/images/accept.svg' %}" alt="" />
                    <p>Ваш заказ №<strong>{{ order.id }}</strong> успешно создан!</p>

                    {% comment %}<p>Статус: {{ order.get_status_display }}</p>{% endcomment %}
                </div>

                <div class="text">
                    <p>Мы свяжемся с Вами в рабочее время пн-вс с 10:00 до 21:00 для подтверждения заказа</p>
                    <div class="sub">
                        <p>Спасибо за покупки в нашем интернет-магазине!</p>
                    </div>
                </div>
                <a href="/" class="new_button color2" style="margin-top: 30px;">Продолжить</a>
            </div>
        </div>
    </div>
{% endblock %}
