{% extends "shop/base.html" %}
{% load static %}

{% block head %}
    <title>Не удачная оплата - Opeshek.ru</title>
    <meta name="description" content="" />
{% endblock %}

{% block body %}
    <div class="main_block">
        <div class="main_block">
            <div class="container">
                <div class="headline">
                    <h1 class="title">Произошла ошибка при оплате заказа №{{ order.id }}</h1>
                </div>
                <div class="checkout_content">
                    <div class="title">
                        <p>Ваш заказ №<strong>{{ order.id }}</strong> не оплачен!</p>
                        <p>Вы можете <a href="{% url 'orders:order_pay' order_id=order.unique_id %}" style="color: #1a1a1a;text-decoration: underline;">повторить оплату</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
