{% load custom_filters %}

<div class="thumb">
    <div class="th">
        <div class="title only_mobile" style="text-align: left;margin-top: 0;"><a
                class="link_name" href="{{ product.get_absolute_url }}"
                title="Купить {{ product.name }}">{{ product.name }}</a></div>
        <form action="{% url 'cart:cart_add' product.id %}" method="post" id="productForm-{{ product.id }}">
            {% csrf_token %}
            <div class="wrap_image">
                <a href="{{ product.get_absolute_url }}" class="hover_list_prod"
                   title="Купить {{ product.name }}">
                    {% if product.image %}
                        <img src="{{ product.image.url }}"
                             id="img_10"
                             alt="Купить {{ product.name }}" title="Купить {{ product.name }}">
                    {% endif %}
                </a>
            </div>
            <div class="text_data">
                <div class="title only_desctop"><a class="link_name"
                                                   href="{{ product.get_absolute_url }}"
                                                   title="Купить {{ product.name }}">{{ product.name }}</a>
                </div>
                {% if product.get_short_description %}
                    <div class="desc only_desctop">{{ product.get_short_description }}</div>
                {% endif %}
                <div class="tools">
                    <div class="fas_selectinput_box">
                        <span style="display: block;margin-bottom:4px">Фасовка</span>
                        <select name="weight" style="width: 100%;"
                                class="select_single select_pack" data-id="{{ product.id }}"
                                id="prod_pack_{{ product.id }}">
                            {% for price in product.get_prices %}
                                <option value="{{ price.weight }}">{{ price.weight | weight }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="fas_selectinput_box">
                        <span style="display: block;margin-bottom:4px">Кол-во</span>
                        <select name="quantity" class=" select_single select_count select_count_{{ product.id }}" style="width: 100%;"
                                id="quantity" data-id="{{ product.id }}"></select>
                    </div>
                    <div class="hide">
                        {% for price in product.get_prices %}
                            <span id="prod_{{ product.id }}_{{ price.weight }}">{{ price.price }}</span>
                        {% endfor %}
                    </div>
                    <input type="hidden" id="type_prod_{{ product.id }}" value="1"/>
                </div>
                <div class="bottom">
                    <button class="button checkit" type="button" data-id="{{ product.id }}">
                        <span>В Корзину</span>
                    </button>
                </div>
                <div class="price">
                    <div class="hold">
                        <input type="hidden" id="price_prod_{{ product.id }}" value="{{ product.get_first_price.price }}"/>
                        <span>
                            <em class="price_for">Цена: </em>
                            <span id="price_show_{{ product.id }}" class="price_prod">{{ product.get_first_price.price }}</span>
                            <em>руб.</em>
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
