{% extends 'shop/base.html' %}
{% load static %}
{% load custom_filters %}

{% block head %}
    <title>Купить орехи - интернет-магазин в Санкт-Петербурге (СПб) оптом и в розницу</title>
    <meta name="description" content="Вы можете купить орехи в интернет-магазине Opeshek.ru по низкой цене в СПб. Доставка по Санкт-Петербургу и Ленобласти. Мы торгуем оптом и в розницу." />
{% endblock %}

{% block body %}
    <div class="breadcrumbs">
        <div class="container">
            <ul class="breadcrumbs_list">
                <li class="item">
                    <a href="/"><span>Главная</span></a>
                </li>
                <li class="item">
                    <a href="/all-foods"><span>Интернет-магазин</span></a>
                </li>
                <li class="item">
                    <a href="{{ product.category.get_absolute_url }}"><span>Купить {{ product.category.name | lower }}</span></a>
                </li>
                <li class="item">
                    <span>Купить {{ product.name | lower }}</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="main_block">
        <div class="container">
            <div class="twocolumns">
                <div class="side">
                    <div class="product_info">
                        <h1 class="title">{{product.name}}</h1>
                        <div class="is only_mobile2 available">Есть в наличии</div>
                    </div>
                    <div class="product_box" style="    padding-top: 14px;">
                        {% if product.image %}
                            <div class="image not_none">
                                <img src="{{ product.image.url }}" class="img_prod_home" id="img_10"
                                     alt="Купить грецкий орех" title="Купить грецкий орех">
                            </div>
                        {% endif %}
                        <!--<div class="desctop ">
                            <div class="tools_title">В 100гр. грецкого ореха содержится:</div>
                            <button type="button" class="button more"><i class="icon-arrow-right"></i><span>Содержание > Развернуть</span>
                            </button>
                            <div class="item">
                                <div class="item_columns">
                                    <div class="item_col ">
                                        <div class="title">Пищевая ценность</div>
                                        <div class="columns after_clearfix">
                                            <div class="row clearfix">
                                                <div class="column">Углеводы:</div>
                                                <div class="column"><strong>11.1 г</strong></div>
                                            </div>
                                            <div class="row clearfix">
                                                <div class="column">Белки:</div>
                                                <div class="column"><strong>16.2 г</strong></div>
                                            </div>
                                            <div class="row clearfix">
                                                <div class="column">Жиры:</div>
                                                <div class="column"><strong>60.8 г</strong></div>
                                            </div>
                                            <div class="row clearfix">
                                                <div class="column">кКал:</div>
                                                <div class="column"><strong>656 кКал</strong></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="item_col second">
                                        <div class="title">Минералы</div>
                                        <div class="columns_items">
                                            <div class="col">
                                                <div class="sup">
                                                    <strong>Fe</strong>Железо
                                                </div>
                                                <div class="sub">
                                                    <strong>2 мг</strong>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="sup">
                                                    <strong>I</strong>Йод
                                                </div>
                                                <div class="sub">
                                                    <strong>3.1 мкг</strong>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="sup">
                                                    <strong>K</strong>Калий
                                                </div>
                                                <div class="sub">
                                                    <strong>474 мг</strong>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="sup">
                                                    <strong>Ca</strong>Кальций
                                                </div>
                                                <div class="sub">
                                                    <strong>89 мг</strong>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="sup">
                                                    <strong>Mn</strong>Марганец
                                                </div>
                                                <div class="sub">
                                                    <strong>1.9 мг</strong>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="sup">
                                                    <strong>Cu</strong>Медь
                                                </div>
                                                <div class="sub">
                                                    <strong>530 мкг</strong>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="sup">
                                                    <strong>Na</strong>Натрий
                                                </div>
                                                <div class="sub">
                                                    <strong>7 мг</strong>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="sup">
                                                    <strong>P</strong>Фосфор
                                                </div>
                                                <div class="sub">
                                                    <strong>332 мг</strong>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="sup">
                                                    <strong>F</strong>Фтор
                                                </div>
                                                <div class="sub">
                                                    <strong>685 мкг</strong>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="sup">
                                                    <strong>Zn</strong>Цинк
                                                </div>
                                                <div class="sub">
                                                    <strong>2.57 мг</strong>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="item">
                                <div class="title">Витамины</div>
                                <div class="group_circle">
                                    <div class="item_circle">
                                        <div class="circle">
                                            <span>A</span>
                                        </div>
                                        <strong>8 мкг</strong>
                                    </div>

                                    <div class="item_circle">
                                        <div class="circle">
                                            <span>B1</span>
                                        </div>
                                        <strong>0.39 мг</strong>
                                    </div>

                                    <div class="item_circle">
                                        <div class="circle">
                                            <span>B2</span>
                                        </div>
                                        <strong>0.12 мг</strong>
                                    </div>

                                    <div class="item_circle">
                                        <div class="circle">
                                            <span>B6</span>
                                        </div>
                                        <strong>0.8 мг</strong>
                                    </div>

                                    <div class="item_circle">
                                        <div class="circle">
                                            <span>B9</span>
                                        </div>
                                        <strong>77 мкг</strong>
                                    </div>

                                    <div class="item_circle">
                                        <div class="circle">
                                            <span>C</span>
                                        </div>
                                        <strong>5.8 мг</strong>
                                    </div>

                                    <div class="item_circle">
                                        <div class="circle">
                                            <span>E</span>
                                        </div>
                                        <strong>2.6 мг</strong>
                                    </div>

                                    <div class="item_circle">
                                        <div class="circle">
                                            <span>PP</span>
                                        </div>
                                        <strong>4.8 мг</strong>
                                    </div>


                                </div>
                            </div>
                        </div>-->

                    </div>
                </div>
                <div class="side" id="top_prod">
                    <div class="product_info show2">
                        <div class="is only_desctop2 available">Есть в наличии</div>
                        <div class="price only_desctop2">
                            <em class="prod_price_for">&nbsp;</em>
                            <span id="">&nbsp;</em>
                        </div>


                        <span class="hide" id="count_10">3</span>
                        <span class="hide" id="weight_pieces_10">w</span>

                        <div class=" center_for_table">

                            <form action="{% url 'cart:cart_add' product.id %}" method="post" id="productForm-{{ product.id }}">
                                {% csrf_token %}

                                <input type="hidden" id="type_prod_{{ product.id }}" value="1"/>
                                <div class="fas_block_prod"
                                     style="position: relative;    display: -webkit-box;    display: -webkit-flex;    display: -moz-box;    display: -ms-flexbox;    display: flex;max-width: 50%;">
                                    <div class="fas_selectinput_box">
                                        <span style="margin-bottom: 4px;display: block;">Фасовка</span>
                                        <select name="weight" style="width: 100%;"
                                                class="select_single select_pack" data-id="{{ product.id }}"
                                                id="prod_pack_{{ product.id }}">
                                            {% for price in product.get_prices %}
                                                <option value="{{ price.weight }}">{{ price.weight | weight }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="fas_selectinput_box">
                                        <span style="margin-bottom: 4px;display: block;">Кол-во</span>
                                        <select name="quantity" class=" select_single select_count select_count_{{ product.id }}" style="width: 100%;"
                                                id="quantity" data-id="{{ product.id }}"></select>
                                    </div>
                                </div>

                                <button class="button checkit" type="button" data-id="{{ product.id }}">
                                    <span>В Корзину</span>
                                </button>
                            </form>

                        </div>


                        <div class="price mob_desct center_for_table price_block" style="">
                            <em class="prod_price_for">Цена:</em>
                            <div class="hide">
                                {% for price in product.get_prices %}
                                    <span id="prod_{{ product.id }}_{{ price.weight }}">{{ price.price }}</span>
                                {% endfor %}
                            </div>
                            <input type="hidden" id="price_prod" value="623"/>
                            <input type="hidden" id="old_price_prod_10" value="0"/>
                            <input type="hidden" id="price_prod_{{ product.id }}" value="{{ product.get_first_price.price }}"/>
                            <span>
                          <span id="price_show_{{ product.id }}">{{product.get_first_price.price}}</span> <em>руб.</em>
                                            </span>

                        </div>

                        {% if product.composition %}
                            <p class="stick">
                                <strong>Состав:</strong>
                                <br/>
                                {{product.composition|linebreaksbr}}
                            </p>
                        {% endif %}
<!--                        <p class="stick" style="padding-top: 0;"><strong>Страна:</strong> Аргентина</p>-->
                        <!--<div class="mobile ">
                            <div class="product_box show">
                                <div class="tools_title">В 100гр. грецкого ореха содержится:</div>
                                <div class="item_col ">
                                    <div class="title">Пищевая ценность</div>
                                    <div class="columns after_clearfix">
                                        <div class="row">
                                            <div class="column">Углеводы:</div>
                                            <div class="column"><strong>11.1 г</strong></div>
                                        </div>
                                        <div class="row">
                                            <div class="column">Белки:</div>
                                            <div class="column"><strong>16.2 г</strong></div>
                                        </div>
                                        <div class="row">
                                            <div class="column">Жиры:</div>
                                            <div class="column"><strong>60.8 г</strong></div>
                                        </div>
                                        <div class="row">
                                            <div class="column">кКал:</div>
                                            <div class="column"><strong>656 кКал</strong></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="item_columns">

                                        <div class="item_col second">
                                            <div class="title">Минералы</div>
                                            <div class="columns_items">
                                                <div class="col miner_vitam">
                                                    <div class="sup">
                                                        <strong>Fe</strong>Железо
                                                    </div>
                                                    <div class="sub">
                                                        <strong>2 мг</strong>
                                                    </div>
                                                </div>
                                                <div class="col miner_vitam">
                                                    <div class="sup">
                                                        <strong>I</strong>Йод
                                                    </div>
                                                    <div class="sub">
                                                        <strong>3.1 мкг</strong>
                                                    </div>
                                                </div>
                                                <div class="col miner_vitam">
                                                    <div class="sup">
                                                        <strong>K</strong>Калий
                                                    </div>
                                                    <div class="sub">
                                                        <strong>474 мг</strong>
                                                    </div>
                                                </div>
                                                <div class="col miner_vitam">
                                                    <div class="sup">
                                                        <strong>Ca</strong>Кальций
                                                    </div>
                                                    <div class="sub">
                                                        <strong>89 мг</strong>
                                                    </div>
                                                </div>
                                                <div class="col miner_vitam">
                                                    <div class="sup">
                                                        <strong>Mn</strong>Марганец
                                                    </div>
                                                    <div class="sub">
                                                        <strong>1.9 мг</strong>
                                                    </div>
                                                </div>
                                                <div class="col miner_vitam">
                                                    <div class="sup">
                                                        <strong>Cu</strong>Медь
                                                    </div>
                                                    <div class="sub">
                                                        <strong>530 мкг</strong>
                                                    </div>
                                                </div>
                                                <div class="col miner_vitam">
                                                    <div class="sup">
                                                        <strong>Na</strong>Натрий
                                                    </div>
                                                    <div class="sub">
                                                        <strong>7 мг</strong>
                                                    </div>
                                                </div>
                                                <div class="col miner_vitam">
                                                    <div class="sup">
                                                        <strong>P</strong>Фосфор
                                                    </div>
                                                    <div class="sub">
                                                        <strong>332 мг</strong>
                                                    </div>
                                                </div>
                                                <div class="col miner_vitam">
                                                    <div class="sup">
                                                        <strong>F</strong>Фтор
                                                    </div>
                                                    <div class="sub">
                                                        <strong>685 мкг</strong>
                                                    </div>
                                                </div>
                                                <div class="col miner_vitam">
                                                    <div class="sup">
                                                        <strong>Zn</strong>Цинк
                                                    </div>
                                                    <div class="sub">
                                                        <strong>2.57 мг</strong>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="item">
                                    <div class="title">Витамины</div>
                                    <div class="group_circle">
                                        <div class="item_circle">
                                            <div class="circle">
                                                <span>A</span>
                                            </div>
                                            <strong>8 мкг</strong>
                                        </div>

                                        <div class="item_circle">
                                            <div class="circle">
                                                <span>B1</span>
                                            </div>
                                            <strong>0.39 мг</strong>
                                        </div>

                                        <div class="item_circle">
                                            <div class="circle">
                                                <span>B2</span>
                                            </div>
                                            <strong>0.12 мг</strong>
                                        </div>

                                        <div class="item_circle">
                                            <div class="circle">
                                                <span>B6</span>
                                            </div>
                                            <strong>0.8 мг</strong>
                                        </div>

                                        <div class="item_circle">
                                            <div class="circle">
                                                <span>B9</span>
                                            </div>
                                            <strong>77 мкг</strong>
                                        </div>

                                        <div class="item_circle">
                                            <div class="circle">
                                                <span>C</span>
                                            </div>
                                            <strong>5.8 мг</strong>
                                        </div>

                                        <div class="item_circle">
                                            <div class="circle">
                                                <span>E</span>
                                            </div>
                                            <strong>2.6 мг</strong>
                                        </div>

                                        <div class="item_circle">
                                            <div class="circle">
                                                <span>PP</span>
                                            </div>
                                            <strong>4.8 мг</strong>
                                        </div>


                                    </div>
                                </div>
                            </div>


                        </div>-->

                        {% if product.description %}
                            <div class="description">
                                <h3>Описание</h3>
                                <div>
                                    <p>{{product.description|linebreaksbr}}</p>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="main_block">
        <div class="container">
            <div class="main_row">
                <div class="headline">
                    <h2 class="title">Похожие товары</h2>
                </div>
                <div class="thumbs">
                    <div class="thumb">
                        <div class="th">
                            <div class="title only_mobile" style="text-align: left;margin-top: 0;"><a
                                    class="link_name" href="/gretskiy-oreh-v-skorlupe/"
                                    title="Купить Грецкий орех в скорлупе">Грецкий орех в скорлупе</a></div>
                            <form action="#">
                                <div class="wrap_image">
                                    <a href="/gretskiy-oreh-v-skorlupe/" class="hover_list_prod"
                                       title="Купить Грецкий орех в скорлупе">
                                        <img src="./images/products/gretskiy-oreh-v-skorlupe-small.jpg" id="img_11"
                                             alt="Купить Грецкий орех в скорлупе"
                                             title="Купить Грецкий орех в скорлупе">
                                    </a>
                                </div>
                                <div class="text_data">
                                    <div class="title only_desctop"><a class="link_name"
                                                                       href="/gretskiy-oreh-v-skorlupe/"
                                                                       title="Купить Грецкий орех в скорлупе">Грецкий
                                        орех в скорлупе</a></div>
                                    <div class="desc only_desctop">Грецкий орех завоевал признание людей с давних
                                        времён. Такое название...
                                    </div>
                                    <div class="tools">

                                        <div class="fas_selectinput_box">
                                            <span style="display: block;margin-bottom:4px">Фасовка</span>
                                            <select name="packs" style="width: 100%;"
                                                    class="select_single select_pack" data-id="11"
                                                    id="prod_pack_11">
                                                <option selected="selected" value="5">500 г</option>
                                            </select>
                                        </div>
                                        <div class="fas_selectinput_box">
                                            <span style="display: block;margin-bottom:4px">Кол-во</span>
                                            <input type="hidden" data-id="11" id="count_pack_11" value="1">
                                            <div class="count_field" id="field_count_pack_11" data-id="11">
                                                <span>1</span></div>

                                        </div>
                                        <div class="hide">
                                            <span id="prod_11_5">372</span>
                                        </div>
                                        <input type="hidden" id="type_prod_11" value="1"/>
                                    </div>
                                    <div class="bottom">
                                        <button class="button checkit" type="button" data-id="11">
                                            <span>В Корзину</span>
                                        </button>
                                    </div>
                                    <div class="price">
                                        <div class="hold">
                                            <input type="hidden" id="price_prod_11" value="372"/>
                                            <span>
                          <em class="price_for">Цена: </em>
                        <span id="price_show_11" class="price_prod">372</span>

                                                            <em>руб.</em>
                                                            </span>

                                        </div>
                                    </div>
                                </div>


                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main_block">
        <div class="container">
            <div class="main_row">
                <div class="headline">
                    <h2 class="title">Популярные</h2>
                </div>
                <div class="thumbs">
                    <div class="thumb">
                        <div class="th">
                            <div class="title only_mobile" style="text-align: left;margin-top: 0;"><a
                                    class="link_name" href="/mango-sushenoe/" title="Купить Манго сушеное">Манго
                                сушеное</a></div>
                            <form action="#">
                                <div class="wrap_image">
                                    <a href="/mango-sushenoe/" class="hover_list_prod" title="Купить Манго сушеное">
                                        <img src="./images/products/mango-sushenoe-small.jpg" id="img_175"
                                             alt="Купить Манго сушеное" title="Купить Манго сушеное">
                                    </a>
                                </div>
                                <div class="text_data">
                                    <div class="title only_desctop"><a class="link_name" href="/mango-sushenoe/"
                                                                       title="Купить Манго сушеное">Манго
                                        сушеное</a></div>
                                    <div class="desc only_desctop">Сушеное манго &mdash; один из наиболее популярных
                                        сухофруктов. Следует...
                                    </div>
                                    <div class="tools">

                                        <div class="fas_selectinput_box">
                                            <span style="display: block;margin-bottom:4px">Фасовка</span>
                                            <select name="packs" style="width: 100%;"
                                                    class="select_single select_pack" data-id="175"
                                                    id="prod_pack_175">
                                                <option value="3">300 г</option>
                                                <option selected="selected" value="5">500 г</option>
                                                <option value="10">1 кг</option>
                                            </select>
                                        </div>
                                        <div class="fas_selectinput_box">
                                            <span style="display: block;margin-bottom:4px">Кол-во</span>
                                            <input type="hidden" data-id="175" id="count_pack_175" value="1">
                                            <div class="count_field" id="field_count_pack_175" data-id="175">
                                                <span>1</span></div>

                                        </div>
                                        <div class="hide">
                                            <span id="prod_175_3">440</span>
                                            <span id="prod_175_5">726</span>
                                            <span id="prod_175_10">1431</span>
                                        </div>
                                        <input type="hidden" id="type_prod_175" value="1"/>
                                    </div>
                                    <div class="bottom">
                                        <button class="button checkit" type="button" data-id="175">
                                            <span>В Корзину</span>
                                        </button>
                                    </div>
                                    <div class="price">
                                        <div class="hold">
                                            <input type="hidden" id="price_prod_175" value="726"/>
                                            <span>
                          <em class="price_for">Цена: </em>
                        <span id="price_show_175" class="price_prod">726</span>

                                                            <em>руб.</em>
                                                            </span>

                                        </div>
                                    </div>
                                </div>


                            </form>
                        </div>
                    </div>
                    <div class="thumb">
                        <div class="th">
                            <div class="title only_mobile" style="text-align: left;margin-top: 0;"><a
                                    class="link_name" href="/fistashki-zharenyie-solenyie-ekstra/"
                                    title="Купить Фисташки жареные соленые Экстра">Фисташки жареные соленые
                                Экстра</a></div>
                            <form action="#">
                                <div class="wrap_image">
                                    <a href="/fistashki-zharenyie-solenyie-ekstra/" class="hover_list_prod"
                                       title="Купить Фисташки жареные соленые Экстра">
                                        <img src="./images/products/fistashki-zharenyie-solenyie-ekstra-small.jpg"
                                             id="img_171" alt="Купить Фисташки жареные соленые Экстра"
                                             title="Купить Фисташки жареные соленые Экстра">
                                    </a>
                                </div>
                                <div class="text_data">
                                    <div class="title only_desctop"><a class="link_name"
                                                                       href="/fistashki-zharenyie-solenyie-ekstra/"
                                                                       title="Купить Фисташки жареные соленые Экстра">Фисташки
                                        жареные соленые Экстра</a></div>
                                    <div class="desc only_desctop">Древо жизни &ndash; не вымышленное растение и не
                                        герой библейских притч...
                                    </div>
                                    <div class="tools">

                                        <div class="fas_selectinput_box">
                                            <span style="display: block;margin-bottom:4px">Фасовка</span>
                                            <select name="packs" style="width: 100%;"
                                                    class="select_single select_pack" data-id="171"
                                                    id="prod_pack_171">
                                                <option value="3">300 г</option>
                                                <option selected="selected" value="5">500 г</option>
                                                <option value="10">1 кг</option>
                                            </select>
                                        </div>
                                        <div class="fas_selectinput_box">
                                            <span style="display: block;margin-bottom:4px">Кол-во</span>
                                            <input type="hidden" data-id="171" id="count_pack_171" value="1">
                                            <div class="count_field" id="field_count_pack_171" data-id="171">
                                                <span>1</span></div>

                                        </div>
                                        <div class="hide">
                                            <span id="prod_171_3">425</span>
                                            <span id="prod_171_5">700</span>
                                            <span id="prod_171_10">1379</span>
                                        </div>
                                        <input type="hidden" id="type_prod_171" value="1"/>
                                    </div>
                                    <div class="bottom">
                                        <button class="button checkit" type="button" data-id="171">
                                            <span>В Корзину</span>
                                        </button>
                                    </div>
                                    <div class="price">
                                        <div class="hold">
                                            <input type="hidden" id="price_prod_171" value="700"/>
                                            <span>
                          <em class="price_for">Цена: </em>
                        <span id="price_show_171" class="price_prod">700</span>

                                                            <em>руб.</em>
                                                            </span>

                                        </div>
                                    </div>
                                </div>


                            </form>
                        </div>
                    </div>
                    <div class="thumb">
                        <div class="th">
                            <div class="title only_mobile" style="text-align: left;margin-top: 0;"><a
                                    class="link_name" href="/chernosliv-bez-kostochki-2/"
                                    title="Купить Чернослив без косточки (Чили)">Чернослив без косточки (Чили)</a>
                            </div>
                            <form action="#">
                                <div class="wrap_image">
                                    <a href="/chernosliv-bez-kostochki-2/" class="hover_list_prod"
                                       title="Купить Чернослив без косточки (Чили)">
                                        <img src="./images/products/chernosliv-bez-kostochki-chili-small.jpg"
                                             id="img_95" alt="Купить Чернослив без косточки (Чили)"
                                             title="Купить Чернослив без косточки (Чили)">
                                    </a>
                                </div>
                                <div class="text_data">
                                    <div class="title only_desctop"><a class="link_name"
                                                                       href="/chernosliv-bez-kostochki-2/"
                                                                       title="Купить Чернослив без косточки (Чили)">Чернослив
                                        без косточки (Чили)</a></div>
                                    <div class="desc only_desctop">Чернослив представляет собой высушенный плод
                                        домашней черной сливы и...
                                    </div>
                                    <div class="tools">

                                        <div class="fas_selectinput_box">
                                            <span style="display: block;margin-bottom:4px">Фасовка</span>
                                            <select name="packs" style="width: 100%;"
                                                    class="select_single select_pack" data-id="95"
                                                    id="prod_pack_95">
                                                <option value="3">300 г</option>
                                                <option selected="selected" value="5">500 г</option>
                                                <option value="10">1 кг</option>
                                            </select>
                                        </div>
                                        <div class="fas_selectinput_box">
                                            <span style="display: block;margin-bottom:4px">Кол-во</span>
                                            <input type="hidden" data-id="95" id="count_pack_95" value="1">
                                            <div class="count_field" id="field_count_pack_95" data-id="95">
                                                <span>1</span></div>

                                        </div>
                                        <div class="hide">
                                            <span id="prod_95_3">155</span>
                                            <span id="prod_95_5">251</span>
                                            <span id="prod_95_10">483</span>
                                        </div>
                                        <input type="hidden" id="type_prod_95" value="1"/>
                                    </div>
                                    <div class="bottom">
                                        <button class="button checkit" type="button" data-id="95">
                                            <span>В Корзину</span>
                                        </button>
                                    </div>
                                    <div class="price">
                                        <div class="hold">
                                            <input type="hidden" id="price_prod_95" value="251"/>
                                            <span>
                          <em class="price_for">Цена: </em>
                        <span id="price_show_95" class="price_prod">251</span>

                                                            <em>руб.</em>
                                                            </span>

                                        </div>
                                    </div>
                                </div>


                            </form>
                        </div>
                    </div>
                    <div class="thumb">
                        <div class="th">
                            <div class="title only_mobile" style="text-align: left;margin-top: 0;"><a
                                    class="link_name" href="/keshyu-zhareniy/" title="Купить Кешью жареный">Кешью
                                жареный</a></div>
                            <form action="#">
                                <div class="wrap_image">
                                    <a href="/keshyu-zhareniy/" class="hover_list_prod"
                                       title="Купить Кешью жареный">
                                        <img src="./images/products/keshyu-zharenyiy-small.jpg" id="img_30"
                                             alt="Купить Кешью жареный" title="Купить Кешью жареный">
                                    </a>
                                </div>
                                <div class="text_data">
                                    <div class="title only_desctop"><a class="link_name" href="/keshyu-zhareniy/"
                                                                       title="Купить Кешью жареный">Кешью
                                        жареный</a></div>
                                    <div class="desc only_desctop">Кешью жаренный &ndash; это подвергнутый
                                        термической обработке...
                                    </div>
                                    <div class="tools">

                                        <div class="fas_selectinput_box">
                                            <span style="display: block;margin-bottom:4px">Фасовка</span>
                                            <select name="packs" style="width: 100%;"
                                                    class="select_single select_pack" data-id="30"
                                                    id="prod_pack_30">
                                                <option value="3">300 г</option>
                                                <option selected="selected" value="5">500 г</option>
                                                <option value="10">1 кг</option>
                                            </select>
                                        </div>
                                        <div class="fas_selectinput_box">
                                            <span style="display: block;margin-bottom:4px">Кол-во</span>
                                            <input type="hidden" data-id="30" id="count_pack_30" value="1">
                                            <div class="count_field" id="field_count_pack_30" data-id="30">
                                                <span>1</span></div>

                                        </div>
                                        <div class="hide">
                                            <span id="prod_30_3">336</span>
                                            <span id="prod_30_5">551</span>
                                            <span id="prod_30_10">1084</span>
                                        </div>
                                        <input type="hidden" id="type_prod_30" value="1"/>
                                    </div>
                                    <div class="bottom">
                                        <button class="button checkit" type="button" data-id="30">
                                            <span>В Корзину</span>
                                        </button>
                                    </div>
                                    <div class="price">
                                        <div class="hold">
                                            <input type="hidden" id="price_prod_30" value="551"/>
                                            <span>
                          <em class="price_for">Цена: </em>
                        <span id="price_show_30" class="price_prod">551</span>

                                                            <em>руб.</em>
                                                            </span>

                                        </div>
                                    </div>
                                </div>


                            </form>
                        </div>
                    </div>
                    <div class="thumb">
                        <div class="th">
                            <div class="title only_mobile" style="text-align: left;margin-top: 0;"><a
                                    class="link_name" href="/mindal-ne-zhareniy/" title="Купить Миндаль нежареный">Миндаль
                                нежареный</a></div>
                            <form action="#">
                                <div class="wrap_image">
                                    <a href="/mindal-ne-zhareniy/" class="hover_list_prod"
                                       title="Купить Миндаль нежареный">
                                        <img src="./images/products/mindal-nezharenyiy-small.jpg" id="img_25"
                                             alt="Купить Миндаль нежареный" title="Купить Миндаль нежареный">
                                    </a>
                                </div>
                                <div class="text_data">
                                    <div class="title only_desctop"><a class="link_name" href="/mindal-ne-zhareniy/"
                                                                       title="Купить Миндаль нежареный">Миндаль
                                        нежареный</a></div>
                                    <div class="desc only_desctop">Миндаль очень богат питательными веществами, но
                                        они полезны только в...
                                    </div>
                                    <div class="tools">

                                        <div class="fas_selectinput_box">
                                            <span style="display: block;margin-bottom:4px">Фасовка</span>
                                            <select name="packs" style="width: 100%;"
                                                    class="select_single select_pack" data-id="25"
                                                    id="prod_pack_25">
                                                <option value="3">300 г</option>
                                                <option selected="selected" value="5">500 г</option>
                                                <option value="10">1 кг</option>
                                            </select>
                                        </div>
                                        <div class="fas_selectinput_box">
                                            <span style="display: block;margin-bottom:4px">Кол-во</span>
                                            <input type="hidden" data-id="25" id="count_pack_25" value="1">
                                            <div class="count_field" id="field_count_pack_25" data-id="25">
                                                <span>1</span></div>

                                        </div>
                                        <div class="hide">
                                            <span id="prod_25_3">296</span>
                                            <span id="prod_25_5">485</span>
                                            <span id="prod_25_10">951</span>
                                        </div>
                                        <input type="hidden" id="type_prod_25" value="1"/>
                                    </div>
                                    <div class="bottom">
                                        <button class="button checkit" type="button" data-id="25">
                                            <span>В Корзину</span>
                                        </button>
                                    </div>
                                    <div class="price">
                                        <div class="hold">
                                            <input type="hidden" id="price_prod_25" value="485"/>
                                            <span>
                          <em class="price_for">Цена: </em>
                        <span id="price_show_25" class="price_prod">485</span>

                                                            <em>руб.</em>
                                                            </span>

                                        </div>
                                    </div>
                                </div>


                            </form>
                        </div>
                    </div>
                    <div class="thumb">
                        <div class="th">
                            <div class="title only_mobile" style="text-align: left;margin-top: 0;"><a
                                    class="link_name" href="/kuraga-vyisshiy-sort/"
                                    title="Купить Курага высший сорт">Курага высший сорт</a></div>
                            <form action="#">
                                <div class="wrap_image">
                                    <a href="/kuraga-vyisshiy-sort/" class="hover_list_prod"
                                       title="Купить Курага высший сорт">
                                        <img src="./images/products/kuraga-vyisshiy-sort-small.jpg" id="img_44"
                                             alt="Купить Курага высший сорт" title="Купить Курага высший сорт">
                                    </a>
                                </div>
                                <div class="text_data">
                                    <div class="title only_desctop"><a class="link_name"
                                                                       href="/kuraga-vyisshiy-sort/"
                                                                       title="Купить Курага высший сорт">Курага
                                        высший сорт</a></div>
                                    <div class="desc only_desctop">Курага один из самых популярных сухофруктов, она
                                        привлекает всех...
                                    </div>
                                    <div class="tools">

                                        <div class="fas_selectinput_box">
                                            <span style="display: block;margin-bottom:4px">Фасовка</span>
                                            <select name="packs" style="width: 100%;"
                                                    class="select_single select_pack" data-id="44"
                                                    id="prod_pack_44">
                                                <option value="3">300 г</option>
                                                <option selected="selected" value="5">500 г</option>
                                                <option value="10">1 кг</option>
                                            </select>
                                        </div>
                                        <div class="fas_selectinput_box">
                                            <span style="display: block;margin-bottom:4px">Кол-во</span>
                                            <input type="hidden" data-id="44" id="count_pack_44" value="1">
                                            <div class="count_field" id="field_count_pack_44" data-id="44">
                                                <span>1</span></div>

                                        </div>
                                        <div class="hide">
                                            <span id="prod_44_3">125</span>
                                            <span id="prod_44_5">200</span>
                                            <span id="prod_44_10">382</span>
                                        </div>
                                        <input type="hidden" id="type_prod_44" value="1"/>
                                    </div>
                                    <div class="bottom">
                                        <button class="button checkit" type="button" data-id="44">
                                            <span>В Корзину</span>
                                        </button>
                                    </div>
                                    <div class="price">
                                        <div class="hold">
                                            <input type="hidden" id="price_prod_44" value="200"/>
                                            <span>
                          <em class="price_for">Цена: </em>
                        <span id="price_show_44" class="price_prod">200</span>

                                                            <em>руб.</em>
                                                            </span>

                                        </div>
                                    </div>
                                </div>


                            </form>
                        </div>
                    </div>
                    <div class="thumb">
                        <div class="th">
                            <div class="title only_mobile" style="text-align: left;margin-top: 0;"><a
                                    class="link_name" href="/orehovaya-smes-ne-zharenaya/"
                                    title="Купить Ореховая смесь нежареная">Ореховая смесь нежареная</a></div>
                            <form action="#">
                                <div class="wrap_image">
                                    <a href="/orehovaya-smes-ne-zharenaya/" class="hover_list_prod"
                                       title="Купить Ореховая смесь нежареная">
                                        <img src="./images/products/orehovaya-smes-nezharenaya-small.jpg"
                                             id="img_51" alt="Купить Ореховая смесь нежареная"
                                             title="Купить Ореховая смесь нежареная">
                                    </a>
                                </div>
                                <div class="text_data">
                                    <div class="title only_desctop"><a class="link_name"
                                                                       href="/orehovaya-smes-ne-zharenaya/"
                                                                       title="Купить Ореховая смесь нежареная">Ореховая
                                        смесь нежареная</a></div>
                                    <div class="desc only_desctop">Во многих странах символом плодородия,
                                        процветания и успеха считаются...
                                    </div>
                                    <div class="tools">

                                        <div class="fas_selectinput_box">
                                            <span style="display: block;margin-bottom:4px">Фасовка</span>
                                            <select name="packs" style="width: 100%;"
                                                    class="select_single select_pack" data-id="51"
                                                    id="prod_pack_51">
                                                <option value="3">300 г</option>
                                                <option selected="selected" value="5">500 г</option>
                                                <option value="10">1 кг</option>
                                            </select>
                                        </div>
                                        <div class="fas_selectinput_box">
                                            <span style="display: block;margin-bottom:4px">Кол-во</span>
                                            <input type="hidden" data-id="51" id="count_pack_51" value="1">
                                            <div class="count_field" id="field_count_pack_51" data-id="51">
                                                <span>1</span></div>

                                        </div>
                                        <div class="hide">
                                            <span id="prod_51_3">306</span>
                                            <span id="prod_51_5">502</span>
                                            <span id="prod_51_10">987</span>
                                        </div>
                                        <input type="hidden" id="type_prod_51" value="1"/>
                                    </div>
                                    <div class="bottom">
                                        <button class="button checkit" type="button" data-id="51">
                                            <span>В Корзину</span>
                                        </button>
                                    </div>
                                    <div class="price">
                                        <div class="hold">
                                            <input type="hidden" id="price_prod_51" value="502"/>
                                            <span>
                          <em class="price_for">Цена: </em>
                        <span id="price_show_51" class="price_prod">502</span>

                                                            <em>руб.</em>
                                                            </span>

                                        </div>
                                    </div>
                                </div>


                            </form>
                        </div>
                    </div>
                    <div class="thumb">
                        <div class="th">
                            <div class="title only_mobile" style="text-align: left;margin-top: 0;"><a
                                    class="link_name" href="/rayskie-finiki/" title="Купить Райские финики">Райские
                                финики</a></div>
                            <form action="#">
                                <div class="wrap_image">
                                    <a href="/rayskie-finiki/" class="hover_list_prod"
                                       title="Купить Райские финики">
                                        <img src="./images/products/rayskie-finiki-small.jpg" id="img_136"
                                             alt="Купить Райские финики" title="Купить Райские финики">
                                    </a>
                                </div>
                                <div class="text_data">
                                    <div class="title only_desctop"><a class="link_name" href="/rayskie-finiki/"
                                                                       title="Купить Райские финики">Райские
                                        финики</a></div>
                                    <div class="desc only_desctop">Финики Каспиан (Каспиран) - самые вкусные и самые
                                        крупные финики. У них...
                                    </div>
                                    <div class="tools">

                                        <div class="fas_selectinput_box">
                                            <span style="display: block;margin-bottom:4px">Фасовка</span>
                                            <div style="padding-top: 9px;">500 г</div>
                                        </div>
                                        <div class="fas_selectinput_box">
                                            <span style="display: block;margin-bottom:4px">Кол-во</span>
                                            <input type="hidden" data-id="136" id="count_pack_136" value="1">
                                            <div class="count_field" id="field_count_pack_136" data-id="136">
                                                <span>1</span></div>
                                        </div>


                                        <input type="hidden" id="type_prod_136" value="0"/>
                                    </div>
                                    <div class="bottom">
                                        <button class="button checkit" type="button" data-id="136">
                                            <span>В Корзину</span>
                                        </button>
                                    </div>
                                    <div class="price">
                                        <div class="hold">
                                            <input type="hidden" id="price_prod_136" value="175"/>
                                            <span>
                          <em class="price_for">Цена : </em>
                        <span id="price_show_136" class="price_prod">175</span>

                                                            <em>руб.</em>
                                                            </span>

                                        </div>
                                    </div>
                                </div>


                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="/all-foods" class="new_button color2 mob_margin"><span>Перейти в каталог</span></a>
    </div>-->
{% endblock %}
