{% extends 'shop/base.html' %}
{% load static %}

{% block head %}
    <title>Купить орехи - интернет-магазин в Санкт-Петербурге (СПб) оптом и в розницу</title>
    <meta name="description" content="Вы можете купить орехи в интернет-магазине Opeshek.ru по низкой цене в СПб. Доставка по Санкт-Петербургу и Ленобласти. Мы торгуем оптом и в розницу." />
{% endblock %}

{% block body %}
    <div class="breadcrumbs">
        <div class="container">
            <ul class="breadcrumbs_list">
                <li class="item">
                    <a href="/"><span>Главная</span></a>
                </li>
                <li class="item">
                    <a href="/all-foods"><span>Интернет-магазин</span></a>
                </li>
                {% if category %}
                    <li class="item">
                        <span>{{ category.name }}</span>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>

    <div class="nav_inner">
        <div class="holder">
            <div class="item {% if not category %} selected {% endif %}">
                <a href="/all-foods">
                    <span>Все</span>
                </a>
            </div>
            {% for c in categories %}
                <div class="item {% if category.slug == c.slug %} selected {% endif %}">
                    <a href="{{ c.get_absolute_url }}">
                        <span>{{ c.name }}</span>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="main_block">
        <div class="container">
            <div class="headline mb35">
                {% if category %}
                    <h1 class="title">{{ category.name }}</h1>
                {% else %}
                    <h1 class="title">Все продукты</h1>
                {% endif %}
            </div>

            <!--<div class="filter_block clearfix">
                <div class="sort_block sb_filtr">
                    <span>Фильтр:</span>
                    <div class="select_block">
                        <span class="this_item">Все</span>
                        <div class="sb_items">
                            <a href="kupit-orehi.html" class="sb_item">Все</a>
                            <a href="/kupit-orehi/?filtr=raw" class="sb_item">Сырые</a>
                            <a href="/kupit-orehi/?filtr=roasted" class="sb_item">Жареные</a>
                            <a href="/kupit-orehi/?filtr=peeled" class="sb_item">Очищенные</a>
                            <a href="/kupit-orehi/?filtr=inshell" class="sb_item">В скорлупе</a>
                        </div>
                    </div>
                </div>

                <div class="sort_block">
                    <span>Сортировать:</span>
                    <div class="select_block">
                        <span class="this_item sb_item_icon ">По популярности</span>
                        <div class="sb_items">
                            <a href="/kupit-orehi/?sort[name]=ASC&" class="sb_item">По алфавиту (а-я)</a>
                            <a href="/kupit-orehi/?sort[name]=DESC&" class="sb_item">По алфавиту (я-а)</a>
                            <a href="/kupit-orehi/?sort[pop]=DESC&" class="sb_item">По популярности (убыв)</a>
                            <a href="/kupit-orehi/?sort[pop]=ASC&" class="sb_item">По популярности (возр)</a>
                        </div>

                    </div>
                </div>
            </div>-->

            <!--<div id="sort_block" class="nav_panel hide shows_sf show_this">
                <div class="item_title display-mob"><span class="title">Сортировка по: </span></div>
                <div class="list">
                    <div class="item_title"><span class="title">Сортировка по: </span></div>
                    &lt;!&ndash; <div class="item selected up"> &ndash;&gt;

                    <div class="item  up">
                        <a href="/kupit-orehi/?sort[name]=ASC&">Алфавиту</a>
                    </div>

                    <div class="item selected up">
                        <a href="/kupit-orehi/?sort[pop]=ASC&">Популярности</a>
                        <i class="icon-arrow-down"></i>
                    </div>

                </div>
            </div>-->


            <!--<div id="show_filter" class="nav_panel hide shows_sf ">
                <div class="item_title display-mob"><span class="title">Фильтр: </span></div>
                <div class="list">
                    <div class="item_title"><span class="title">Фильтр: </span></div>
                    &lt;!&ndash; <div class="item selected up"> &ndash;&gt;
                    <div class="item selected">
                        <a href="kupit-orehi.html">Все</a>
                    </div>

                    <div class="item ">
                        <a href="/kupit-orehi/?filtr=raw">Сырые</a>
                    </div>
                    <div class="item ">
                        <a href="/kupit-orehi/?filtr=roasted">Жареные</a>
                    </div>

                    <div class="item ">
                        <a href="/kupit-orehi/?filtr=peeled">Очищенные</a>
                    </div>
                    <div class="item ">
                        <a href="/kupit-orehi/?filtr=inshell">В скорлупе</a>
                    </div>
                </div>
            </div>-->

            {% if products %}
                <div class="thumbs">
                    {% for product in products %}
                        {% include "shop/product/card.html" with product=product %}
                    {% endfor %}
                </div>
            {% else %}
                <p>Список продуктов пуст</p>
            {% endif %}

            <!--<div class="pagination " style="border:0;">
                <div class="pager">
                    <div class="item default ?">
                        <i class="icon-arrow-left"></i>
                    </div>

                    <div class="item selected">
                        <span>1</span>
                    </div>
                    <div class="item ">
                        <a href="/kupit-orehi/?page=2">2</a>
                    </div>


                    <div class="item default">
                        <a href="/kupit-orehi/?page=2"><i class="icon-arrow-right"></i></a>
                    </div>


                    <div class="more desctop_only">
                        <a href="/kupit-orehi/?all=show">Просмотреть все</a>
                    </div>


                </div>
                <div class="more pagin_mobile">
                    <a href="/kupit-orehi/?all=show">Просмотреть все</a>
                </div>
            </div>-->
        </div>
    </div>
{% endblock %}
