{% extends 'shop/base.html' %}
{% load static %}

{% block head %}
    <title>Результаты поиска</title>
    <meta name="description" content="" />
{% endblock %}

{% block body %}
    <div class="breadcrumbs">
        <div class="container">
            <ul class="breadcrumbs_list">
                <li class="item">
                    <a href="/">
                        <span>Главная</span>
                    </a>
                </li>
                <li class="item">
                    <a href="/all-foods">
                        <span>Интернет-магазин</span>
                    </a>
                </li>
                <li class="item">
                    <span>Поиск</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="main_block">
        <div class="container">
            {% if query %}
                <div class="headline">
                    <h1 class="title">Результаты поиска: {{ query }}</h1>
                </div>
            {% endif %}
            {% comment %}<div class="nav_panel">
                <div class="list">
                    <div class="item_title"><span class="title">Сортировка: </span></div>
                    <!-- <div class="item selected up"> -->

                    <div class="item  down">
                        <a href="/search/?q=орех&sort[name]=DESC">По алфавиту</a>
                    </div>
                    <div class="item selected up">
                        <a href="/search/?q=орех&sort[pop]=ASC">Популярности</a>
                        <i class="icon-arrow-down"></i>
                    </div>

                </div>
            </div>{% endcomment %}

            {% if products %}
                <div class="thumbs">
                    {% for product in products %}
                        {% include "shop/product/card.html" with product=product %}
                    {% endfor %}
                </div>
            {% else %}
                <p>По вашему запросу "{{ query }}" ничего не найдено</p>
            {% endif %}

            {% comment %}<div class="pagination">
                <div class="pager">
                    <div class="item default ?">
                        <i class="icon-arrow-left"></i>
                    </div>
                    <div class="item selected">
                        <span>1</span>
                    </div>
                    <div class="item ">
                        <a href="/search/?q=орех&p=2">2</a>
                    </div>
                    <div class="item default">
                        <a href="/search/?q=орех&p=2"><i class="icon-arrow-right"></i></a>
                    </div>
                </div>
            </div>{% endcomment %}
        </div>
    </div>
{% endblock %}
