<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="telephone=no" name="format-detection">

        {% load static %}

        <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
        <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/png">

        {% block head %}
            <title>Title</title>
        {% endblock %}

        <meta name="description"
              content="Интернет-магазин орехов, сухофруктов и специй в СПб. У нас вы можете купить недорого по хорошей цене орехи, сухофрукты, специи, цукаты, снеки и сладости на любой вкус оптом и в розницу. Доставка по Санкт-Петербургу и Ленобласти."
        />
        <meta charset="utf-8">
    </head>
    <body id="app-layout" class=" ">
        <div class="hide_site"></div>
        <div class="wrapper">
            <div class="header_top">
                <div class="container">
                    <div class="holder">
                        <button class="hamburger" type="button">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                        <div class="header_tel"><a href="tel:8(999)113-57-13"><em>8 (999)</em>113-57-13</a></div>
                        <div class="header_menu">
                            <div class="item has-drop">
                                <div class="wrap">
                                    <span>Каталог</span>
                                    <i class="icon-arrow-bottom"></i>
                                </div>

                                <div class="drop">
                                    <div class="drop_holder">
                                        <div class="drop_item">
                                            <a href="/all-foods">Все продукты</a>
                                        </div>
                                        {% for c in categories %}
                                            <div class="drop_item">
                                                <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <a href="/dostavka">Оплата/Доставка</a>
                            </div>
                            {% comment %}<div class="item">
                                <a href="/craft-packets">Наша упаковка</a>
                            </div>{% endcomment %}
                            <div class="item">
                                <a href="/discounts">Скидки/Акции</a>
                            </div>
                            <div class="item">
                                <a href="/landing">Оптом</a>
                            </div>
                            <div class="item has-drop">
                                <div class="wrap">
                                    <span>Помощь</span>
                                    <i class="icon-arrow-bottom"></i>
                                </div>
                                <div class="drop">
                                    <div class="drop_holder" style=" min-width: 149px;">
                                        {% comment %}<div class="drop_item">
                                            <a href="/kak-sdelat-zakaz">Как сделать заказ</a>
                                        </div>{% endcomment %}

                                        <div class="drop_item">
                                            <a href="/voprosy-i-otvety">Вопросы и ответы</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="item has-drop">
                                <div class="wrap">
                                    <span>О нас</span>
                                    <i class="icon-arrow-bottom"></i>
                                </div>
                                <div class="drop">
                                    <div class="drop_holder">
                                        <div class="drop_item">
                                            <a href="/about">О компании</a>
                                        </div>
                                        <div class="drop_item">
                                            <a href="/contact">Контакты</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="cart_button">
                            <i class="icon-shopping-cart"></i>
                            <span
                                    class="count_prods count_prods_mob_ver hide ">{{ cart.get_total_product }}</span>
                        </button>
                        <button type="button" class="search_button">
                            <i class="icon-search"></i>
                        </button>
                        <div class="profile_button">
                            <a href="/login/">
                                <i class="icon-login"></i>
                                <span>Личный кабинет</span>
                            </a>
                        </div>
                    </div>
                    <div class="form_search_mobile">
                        <form action="{% url 'shop:search' %}" class="search_form">
                            <div class="wrap">
                                <input type="text" class="input sinputmobile" id="mobinpsearch" name="q" autocomplete="off"
                                       placeholder="Поиск" value="{{ query }}">
                                <button type="submit" class="button">
                                    <i class="icon-search-black"></i>
                                </button>
                            </div>
                        </form>
                        <div class="result_fast_search hide"></div>
                    </div>
                </div>
            </div>

            <div id="header-bottom" class="header">
                <div class="header_bottom">
                    <div class="container">
                        <div class="holder">
                            <div class="logo">
                                <a href="/">
                                    <img src="{% static 'images/logo-new.png' %}" alt="" class="no_scroll">
                                    <img src="{% static 'images/logo2-new.png' %}" alt="" class="to_scroll">
                                    <span>Магазин орехов и сухофруктов</span>
                                </a>
                            </div>
                            <div class="form_search">
                                <form action="{% url 'shop:search' %}" class="search_form">
                                    <div class="wrap">
                                        <input type="text" class="input input_search" name="q" tabindex="0" autocomplete="off"
                                               placeholder="Поиск по каталогу" value="{{ query }}">
                                        <button type="submit" class="button">
                                            <i class="icon-search-black"></i>
                                        </button>
                                    </div>
                                </form>
                                <div class="result_fast_search hide"></div>
                            </div>
                            <div class="phone_view">
                                <i class="icon-phone"></i>
                                <a href="tel:89991135713"><em>8 (999)</em> 113-57-13</a>
                                <span><em>8 (999)</em> 113-57-13</span>
                            </div>
                            <div class="basket_block">
                                <div class="basket_holder" title="Оформить заказ">
                                    <div class="image">
                                        <img src="{% static 'images/basket-new.svg' %}" id="3452711" alt="">
                                        <div class="stick count_prods">{{ cart.get_total_product }}</div>
                                    </div>
                                    <div class="wrap">
                                        <div class="title">КОРЗИНА</div>
                                        <div class="item">
                                            Товаров: <strong class="count_prods">{{ cart.get_total_product }}</strong>
                                        </div>
                                        <div class="item">
                                            На сумму: <strong><span class="price_prodts">{{ cart.get_total_price }}</span> руб.</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="main">
                {% block body %}
                {% endblock %}
            </div>

            <div class="footer">
                <div class="holder">
                    <div class="container">
                        <div class="group">
                            <div class="footer_phone_view">
                                <div class="footer_logo">
                                    <a href="/">
                                        <img src="{% static 'images/logof-new.png' %}" alt="">
                                        <span>Магазин орехов и сухофруктов</span>
                                    </a>
                                </div>
                                <div class="phone_footer">
                                    <i class="icon-phone"></i>
                                    <span><em>8 (999)</em> 113-57-13</span>
                                </div>
                                <div class="copy">&copy; 2020–2021, opeshek.ru<br/>Санкт-Петербург</div>
                            </div>

                            <div class="footer_nav">
                                <div class="item"><a href="/dostavka">Оплата/Доставка</a></div>
                                <div class="item"><a href="/about">О нас</a></div>

                                <div class="item"><a href="contact">Контакты</a></div>
                                <div class="item last_item"><a href="/agreement/" target="_blank">Условия продажи</a></div>

                                <div class="item only_desctop" style="">&nbsp;</div>
                                <div class="item only_desctop" style="margin-bottom: 4px;">&nbsp;</div>
                                <div class="footer_social">
                                    <div class="item">
                                        <a href="https://vk.com/oresh_koff" rel="nofollow" target="_blank"><img
                                                src="{% static 'images/icon-vk.png' %}" alt=""></a>
                                    </div>
                                    <div class="item">
                                        <a href="https://www.instagram.com/oreshkoff_rf/" rel="nofollow" target="_blank"><img
                                                src="{% static 'images/icon-in2.png' %}" alt=""></a>
                                    </div>
                                    <div class="item">
                                        <a href="https://www.youtube.com/channel/UCJm5jYFkrK1yaleaeTVLylg" rel="nofollow"
                                           target="_blank"><img src="{% static 'images/youtube_ico.png' %}" alt=""></a>
                                    </div>
                                </div>
                            </div>

                            <div class="footer_nav">
                                {% for c in categories %}
                                    <div class="item"><a href="{{ c.get_absolute_url }}">Купить {{c.name}}</a></div>
                                {% endfor %}
                            </div>

                            <div class="footer_nav mt40px">
                            </div>
                            <div class="copy only_mobile" style="padding: 0;">&copy; 2020–2021, opeshek.ru<br/><br>Санкт-Петербург
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <button type="button" class="close hide min_counts" data-toggle="modal" data-target=".modal-error_min_counts"></button>
        <!-- Small modal -->
        <div class="modal fade modal-error_min_counts" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel7">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="title">ВНИМАНИЕ</div>
                    <div class="content">
                        <div class="subtitle result_error_reg">
                            Минимальная партия для данного товара 10 шт.<br> За дополнительной информации свяжитесь с
                            менеджером.
                        </div>
                        <div class="hold">
                            <button type="button" class="button second close_modals" data-dismiss="modal">Закрыть</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js" integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg==" crossorigin="anonymous"></script>
        <script src="{% static 'js/allscripts.min.js' %}" type="text/javascript"></script>
    </body>
</html>
